# LIBRARY

In [58]:
import pandas as pd
import requests
import sqlite3
from bs4 import BeautifulSoup
from IPython.display import display #mempermudah baca data ringkasan statistika dan variabel dummy
from sklearn.preprocessing import StandardScaler #scaler untuk normalisasi

# EXTRACT 

## a. Extract CSV

Berikut adalah data set yang digunakan:
- electricity_access_percent.csv
- gdp_data.csv
- mystery.csv
- population_data.csv
- projects_data.csv
- rural_population_percent.csv

### Electricity access percent

Electricity access percent (persentase akses listrik) adalah ukuran persentase populasi suatu wilayah/negara yang memiliki akses terhadap listrik

In [59]:
# Membaca file CSV dengan skiprows=4
elec_df = pd.read_csv("datasource/electricity_access_percent.csv",usecols = lambda x: x != "Unnamed: 62" ,skiprows=4)

# Tampilkan data
elec_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,NaN
260,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,NaN
261,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,NaN
262,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,NaN
263,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,NaN

### GDP

Gross Domestic Product (Produk Domestik Bruto) merupakan indikator utama dalam menilai kesehatan ekonomi suatu negara.

In [60]:
# Membaca file CSV dengan skiprows=4
gdp_df = pd.read_csv("datasource/gdp_data.csv",usecols = lambda x: x != "Unnamed: 62" ,skiprows=4)

# Tampilkan data
gdp_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.417804e+10,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.687488e+09,5.653793e+09,5.829934e+09,6.686683e+09,6.500193e+09,7.073420e+09,7.386891e+09,6.439947e+09,6.715487e+09,7.128691e+09
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.691085e+10,2.513027e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041524e+10,4.322858e+10,3.460248e+10,1.821333e+10,NaN
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,...,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10

### Mystery

In [61]:
# Membaca file membaca file dengan format UTF-16
my_df = pd.read_csv("datasource/mystery.csv", encoding='utf-16')

# Tampilkan data
my_df

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

### Populasi

In [62]:
# Membaca file CSV dengan skiprows=4
pop_df = pd.read_csv("datasource/population_data.csv",usecols = lambda x: x != "Unnamed: 62" ,skiprows=4)

# Tampilkan data
pop_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

### Project data

In [63]:
# Membaca file CSV dengan keseluruhan dataset di memori
pro_df = pd.read_csv("datasource/projects_data.csv", low_memory=False)

# Tampilkan data
pro_df

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,Latin America and Caribbean,Republic of Chile;Republic of Chile,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18244,P037451,Europe and Central Asia,Grand Duchy of Luxembourg;Grand Duchy of Luxem...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18245,P037362,Europe and Central Asia,Kingdom of Denmark;Kingdom of Denmark,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18246,P037452,Europe and Central Asia,Kingdom of the Netherlands;Kingdom of the Neth...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18247,P037383,Europe and Central Asia,French Republic;French Republic,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Rural population percent
Merupakan persentase dari jumlah penduduk yang tinggal di pedesaan

In [64]:
# Membaca file CSV dengan skiprows=4
rpop_df = pd.read_csv("datasource/rural_population_percent.csv", usecols = lambda x: x != "Unnamed: 62",skiprows=4)

# Tampilkan data
rpop_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Rural population (% of total population),SP.RUR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Rural population (% of total population),SP.RUR.TOTL.ZS,90.900,90.541,90.169,89.784,89.386,88.974,...,69.398,68.835,68.268,67.698,67.126,66.550,65.973,65.394,64.813,64.231
261,South Africa,ZAF,Rural population (% of total population),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.980,52.866,52.752,...,38.846,38.313,37.782,37.254,36.728,36.212,35.702,35.199,34.705,34.218
262,Zambia,ZMB,Rural population (% of total population),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,62.125,61.701,61.275,60.847,60.413,59.973,59.528,59.078,58.621,58.160
263,Zimbabwe,ZWE,Rural population (% of total population),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.380,...,66.440,66.622,66.804,66.985,67.166,67.346,67.499,67.624,67.723,67.793

## b. Extract JSON
Berikut adalah data set yang digunakan:
- population_data.json

In [65]:
# Membaca file Json
pop2_df = pd.read_json("datasource/population_data.json")

# Tampilkan data
pop2_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

## c. Extract XML
Berikut adalah data set yang digunakan:
- population_data.xml

In [66]:
# Memebaca file XML 
with open("datasource/population_data.xml", "r") as f:
    xml_data = f.read()

# Parse XML menggunakan Beautiful Soup
soup = BeautifulSoup(xml_data, "xml")

# Extrak data dari XML dan disimpan pada record
data = []

for record in soup.find_all("record"):
    record_data = {}

    for field in record.find_all("field"):
        name = field.get("name")
        key = field.get("key")
        value = field.text

        if name == "Country or Area":
            record_data["Country Name"] = value
            record_data["Country Code"] = key
        elif name == "Item":
            record_data["Indicator Name"] = value
            record_data["Indicator Code"] = key
        else:
            record_data[name] = value

    data.append(record_data)

# Ubah list ke DataFrame
pop3_df = pd.DataFrame(data)

pop3_df

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Aruba,ABW,"Population, total",SP.POP.TOTL,1960,54211
1,Aruba,ABW,"Population, total",SP.POP.TOTL,1961,55438
2,Aruba,ABW,"Population, total",SP.POP.TOTL,1962,56225
3,Aruba,ABW,"Population, total",SP.POP.TOTL,1963,56695
4,Aruba,ABW,"Population, total",SP.POP.TOTL,1964,57032
...,...,...,...,...,...,...
15307,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2013,15054506
15308,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2014,15411675
15309,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2015,15777451
15310,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2016,16150362
15311,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2017,16529904

## d. Extract DB
Berikut adalah data set yang digunakan:
- population_data.db

In [67]:
# Sambungkan ke SQLite database
conn = sqlite3.connect("datasource/population_data.db")
pop4_df = pd.read_sql("SELECT * FROM population_data", conn)

#Tampilkan data
pop4_df

,index,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

## e. Extract API
Berikut adalah endpoint yang digunakan:

API: http://api.worldbank.org/v2/countries/ (URL API dari World Bank untuk data populasi semua negara)

Misal:
http://api.worldbank.org/v2/countries/all/indicators/SP.POP.TOTL/?format=json&per_page=1000

In [68]:
url = "http://api.worldbank.org/v2/countries/all/indicators/SP.POP.TOTL/?format=json&per_page=1000"

# Mengambil data dari URL
response = requests.get(url)
data = response.json()
total_pages = data[0]['pages']

# Membuat list untuk menyimpan semua data
all_data = []

# Mengakses data dari API untuk semua data
for page in range(1, total_pages + 1):
    page_url = f"{url}&page={page}"
    response = requests.get(page_url)
    data = response.json()
    all_data.extend(data[1])

# Membuat DataFrame dari data yang diambil
api_df = pd.json_normalize(all_data)

# Simpan DataFrame ke file CSV 
api_df.to_csv("datacleaning/api_url.csv", index=False)

# Tampilkan Data
api_df

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,NaN,,,0,SP.POP.TOTL,"Population, total",ZH,Africa Eastern and Southern
1,AFE,2022,720859132.0,,,0,SP.POP.TOTL,"Population, total",ZH,Africa Eastern and Southern
2,AFE,2021,702977106.0,,,0,SP.POP.TOTL,"Population, total",ZH,Africa Eastern and Southern
3,AFE,2020,685112979.0,,,0,SP.POP.TOTL,"Population, total",ZH,Africa Eastern and Southern
4,AFE,2019,667242986.0,,,0,SP.POP.TOTL,"Population, total",ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
17019,ZWE,1964,4310332.0,,,0,SP.POP.TOTL,"Population, total",ZW,Zimbabwe
17020,ZWE,1963,4177931.0,,,0,SP.POP.TOTL,"Population, total",ZW,Zimbabwe
17021,ZWE,1962,4049778.0,,,0,SP.POP.TOTL,"Population, total",ZW,Zimbabwe
17022,ZWE,1961,3925952.0,,,0,SP.POP.TOTL,"Population, total",ZW,Zimbabwe
17023,ZWE,1960,3806310.0,,,0,SP.POP.TOTL,"Population, total",ZW,Zimbabwe

# TRANSFORM

## Pemeriksaan Data

Berikut adalah pemeriksaan/pengecekkan data yang dilakukan: 

- Struktur Data
- Nilai yang hilang
- Duplikat Data
- Ringkasan Statistik
- Dummy Variabel

In [69]:
# Dictionary data_files
data_files = {
    "electricity_access_percent.csv": elec_df,
    "gdp_data.csv": gdp_df,
    "mystery.csv": my_df,
    "population_data.csv": pop_df,
    "population_data.json": pop2_df,
    "population_data.xml": pop3_df,
    "population_data.db": pop4_df,
    "projects_data.csv": pro_df,
    "rural_population_percent.csv": rpop_df,
    "API": api_df, 
}

# Loop untuk mencetak informasi tentang setiap objek data
for file_name, data in data_files.items():  # Digunakan metode .items() untuk mendapatkan pasangan kunci-nilai
    print(f"\n{file_name}:")
    try:
        # Informasi tentang struktur data
        display(data.info())

        # Pengecekan nilai yang hilang
        missing_values = data.isnull().sum()
        if missing_values.sum() > 0:
            print("\nNilai yang hilang:")
            display(missing_values)
        else:
            print("Tidak ada nilai yang hilang.")

        # Pengecekan duplikasi data
        duplicate_rows = data.duplicated().sum()
        if duplicate_rows > 0:
            print("\nJumlah baris yang duplikat:", duplicate_rows)
        else:
            print("Tidak ada duplikasi data.")

        # Ringkasan statistik
        print("\nRingkasan statistik:")
        display(data.describe())

        # Pengecekan dummy variabel
        categorical_columns = data.select_dtypes(include=['object']).columns
        if len(categorical_columns) > 0:
            print("\nVariabel Kategorikal:")
            display(categorical_columns)
        
        # # Konversi variabel kategorikal menjadi variabel dummy
        #     for column in categorical_columns:
        #         dummy_variables = pd.get_dummies(data[column], prefix=column)
        #         data = pd.concat([data, dummy_variables], axis=1)
                
        #     print("\nData setelah variabel dummy ditambahkan:")
        #     display(data)  # Menampilkan data setelah penambahan variabel dummy

    except AttributeError:
        print("Data tidak valid")  # Cetak pesan jika data tidak valid

electricity_access_percent.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            0 non-null      float64
 12  1968            0 non-null      float64
 13  1969            0 non-null      float64
 14  1970            0 non-null      float64
 15  1971            0 non-null      float64
 16  1972            0 non-null      float64
 17  1973            0 non-null      float64
 18  1974            0 non-null      float64
 19  1975            0 non-null      float64
 20  1976            0 non-null      float64
 21  1977            0 non-null      float64
 22  1978            0 non-null      float64
 23  1979            0 non-null      float64
 24  1980            0 non-null      float64
 25  1981            0 non-null      float64
 26  1982            0 non-null      float64
 27  1983            0 non-null      float64
 28  1984            0 non-null      float64
 29  1985            0 non-null      float64
 30  1986            0 non-null      float64
 31  1987            0 non-null      float64
 32  1988            0 non-null      float64
 33  1989            0 non-null      float64
 34  1990            251 non-null    float64
 35  1991            251 non-null    float64
 36  1992            251 non-null    float64
 37  1993            251 non-null    float64
 38  1994            252 non-null    float64
 39  1995            255 non-null    float64
 40  1996            256 non-null    float64
 41  1997            256 non-null    float64
 42  1998            256 non-null    float64
 43  1999            256 non-null    float64
 44  2000            257 non-null    float64
 45  2001            258 non-null    float64
 46  2002            259 non-null    float64
 47  2003            259 non-null    float64
 48  2004            260 non-null    float64
 49  2005            260 non-null    float64
 50  2006            260 non-null    float64
 51  2007            261 non-null    float64
 52  2008            261 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            261 non-null    float64
 56  2012            261 non-null    float64
 57  2013            261 non-null    float64
 58  2014            261 non-null    float64
 59  2015            261 non-null    float64
 60  2016            261 non-null    float64
 61  2017            0 non-null      float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

Nilai yang hilang:

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              264
                 ...
2013                3
2014                3
2015                3
2016                3
2017              264
Length: 62, dtype: int64

Tidak ada duplikasi data.

Ringkasan statistik:

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78.276041,78.831094,78.818472,79.916879,80.816723,81.315235,82.098619,82.767097,83.565600,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.011636,29.750147,29.886804,28.804997,28.264746,28.017765,27.319316,26.863950,25.931525,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.021752,1.900000,0.000000,3.918669,4.912345,5.915033,6.923728,7.252090,7.588477,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.559383,62.982807,64.350000,66.062515,68.796662,69.796356,71.673798,71.500000,75.920000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.501411,96.779938,97.000000,97.490799,97.824120,98.385853,98.701241,99.032677,99.426155,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN

Variabel Kategorikal:

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], dtype='object')

gdp_data.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            124 non-null    float64
 5   1961            124 non-null    float64
 6   1962            125 non-null    float64
 7   1963            125 non-null    float64
 8   1964            125 non-null    float64
 9   1965            136 non-null    float64
 10  1966            137 non-null    float64
 11  1967            141 non-null    float64
 12  1968            145 non-null    float64
 13  1969            145 non-null    float64
 14  1970            153 non-null    float64
 15  1971            155 non-null    float64
 16  1972            155 non-null    float64
 17  1973            155 non-null    float64
 18  1974            156 non-null    float64
 19  1975            160 non-null    float64
 20  1976            161 non-null    float64
 21  1977            165 non-null    float64
 22  1978            164 non-null    float64
 23  1979            165 non-null    float64
 24  1980            177 non-null    float64
 25  1981            181 non-null    float64
 26  1982            187 non-null    float64
 27  1983            188 non-null    float64
 28  1984            190 non-null    float64
 29  1985            192 non-null    float64
 30  1986            194 non-null    float64
 31  1987            198 non-null    float64
 32  1988            200 non-null    float64
 33  1989            204 non-null    float64
 34  1990            220 non-null    float64
 35  1991            214 non-null    float64
 36  1992            217 non-null    float64
 37  1993            222 non-null    float64
 38  1994            227 non-null    float64
 39  1995            236 non-null    float64
 40  1996            237 non-null    float64
 41  1997            236 non-null    float64
 42  1998            238 non-null    float64
 43  1999            239 non-null    float64
 44  2000            245 non-null    float64
 45  2001            245 non-null    float64
 46  2002            249 non-null    float64
 47  2003            249 non-null    float64
 48  2004            250 non-null    float64
 49  2005            250 non-null    float64
 50  2006            251 non-null    float64
 51  2007            251 non-null    float64
 52  2008            249 non-null    float64
 53  2009            249 non-null    float64
 54  2010            249 non-null    float64
 55  2011            250 non-null    float64
 56  2012            247 non-null    float64
 57  2013            248 non-null    float64
 58  2014            247 non-null    float64
 59  2015            246 non-null    float64
 60  2016            241 non-null    float64
 61  2017            234 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

Nilai yang hilang:

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              140
                 ...
2013               16
2014               17
2015               18
2016               23
2017               30
Length: 62, dtype: int64

Tidak ada duplikasi data.

Ringkasan statistik:

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,1.240000e+02,1.240000e+02,1.250000e+02,1.250000e+02,1.250000e+02,1.360000e+02,1.370000e+02,1.410000e+02,1.450000e+02,1.450000e+02,...,2.490000e+02,2.490000e+02,2.490000e+02,2.500000e+02,2.470000e+02,2.480000e+02,2.470000e+02,2.460000e+02,2.410000e+02,2.340000e+02
mean,7.081251e+10,7.353407e+10,7.800948e+10,8.453615e+10,9.298434e+10,9.738298e+10,1.042981e+11,1.108162e+11,1.160138e+11,1.277737e+11,...,2.029381e+12,1.924594e+12,2.140466e+12,2.394367e+12,2.489833e+12,2.568666e+12,2.654314e+12,2.505671e+12,2.586241e+12,2.847928e+12
std,2.190215e+11,2.294818e+11,2.460800e+11,2.652862e+11,2.901649e+11,3.048099e+11,3.313051e+11,3.503903e+11,3.734246e+11,4.098617e+11,...,7.161625e+12,6.764102e+12,7.327595e+12,8.093064e+12,8.296821e+12,8.520056e+12,8.768967e+12,8.321508e+12,8.526859e+12,9.176531e+12
min,1.201203e+07,1.159202e+07,9.122751e+06,1.084010e+07,1.271247e+07,1.359393e+07,1.446908e+07,1.583518e+07,1.460000e+07,1.585000e+07,...,3.029022e+07,2.710108e+07,3.182352e+07,3.871183e+07,3.767173e+07,3.750912e+07,3.729059e+07,3.555604e+07,3.657261e+07,3.973132e+07
25%,4.930171e+08,4.891902e+08,4.791808e+08,5.119021e+08,5.425784e+08,5.199337e+08,5.499500e+08,4.515241e+08,4.851608e+08,5.512373e+08,...,6.109928e+09,5.832915e+09,6.959697e+09,7.674355e+09,8.681057e+09,8.994685e+09,1.019047e+10,8.757940e+09,9.412034e+09,1.150900e+10
50%,1.988240e+09,2.074604e+09,2.174966e+09,2.510127e+09,2.766609e+09,2.784309e+09,2.876396e+09,3.046339e+09,3.271416e+09,3.651615e+09,...,3.913689e+10,3.744067e+10,4.028448e+10,4.586291e+10,5.038845e+10,5.447389e+10,5.673199e+10,5.317434e+10,5.324089e+10,5.944777e+10
75%,1.484928e+10,1.585175e+10,1.659254e+10,1.895413e+10,2.113724e+10,2.219508e+10,2.432000e+10,2.656000e+10,2.914338e+10,3.164920e+10,...,5.102286e+11,4.290979e+11,4.835480e+11,5.298305e+11,5.551819e+11,5.587044e+11,5.711583e+11,5.785993e+11,6.449355e+11,7.175373e+11
max,1.353783e+12,1.409528e+12,1.509012e+12,1.629958e+12,1.788432e+12,1.947843e+12,2.111600e+12,2.253592e+12,2.429626e+12,2.672200e+12,...,6.343346e+13,6.013844e+13,6.595667e+13,7.329734e+13,7.496562e+13,7.705059e+13,7.913144e+13,7.484273e+13,7.593681e+13,8.068379e+13

Variabel Kategorikal:

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], dtype='object')

mystery.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 63 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      264 non-null    int64
 1   Country Name    264 non-null    object
 2   Country Code    264 non-null    object
 3   Indicator Name  264 non-null    object
 4   Indicator Code  264 non-null    object
 5   1960            260 non-null    float64
 6   1961            260 non-null    float64
 7   1962            260 non-null    float64
 8   1963            260 non-null    float64
 9   1964            260 non-null    float64
 10  1965            260 non-null    float64
 11  1966            260 non-null    float64
 12  1967            260 non-null    float64
 13  1968            260 non-null    float64
 14  1969            260 non-null    float64
 15  1970            260 non-null    float64
 16  1971            260 non-null    float64
 17  1972            260 non-null    float64
 18  1973            260 non-null    float64
 19  1974            260 non-null    float64
 20  1975            260 non-null    float64
 21  1976            260 non-null    float64
 22  1977            260 non-null    float64
 23  1978            260 non-null    float64
 24  1979            260 non-null    float64
 25  1980            260 non-null    float64
 26  1981            260 non-null    float64
 27  1982            260 non-null    float64
 28  1983            260 non-null    float64
 29  1984            260 non-null    float64
 30  1985            260 non-null    float64
 31  1986            260 non-null    float64
 32  1987            260 non-null    float64
 33  1988            260 non-null    float64
 34  1989            260 non-null    float64
 35  1990            262 non-null    float64
 36  1991            262 non-null    float64
 37  1992            261 non-null    float64
 38  1993            261 non-null    float64
 39  1994            261 non-null    float64
 40  1995            262 non-null    float64
 41  1996            262 non-null    float64
 42  1997            262 non-null    float64
 43  1998            263 non-null    float64
 44  1999            263 non-null    float64
 45  2000            263 non-null    float64
 46  2001            263 non-null    float64
 47  2002            263 non-null    float64
 48  2003            263 non-null    float64
 49  2004            263 non-null    float64
 50  2005            263 non-null    float64
 51  2006            263 non-null    float64
 52  2007            263 non-null    float64
 53  2008            263 non-null    float64
 54  2009            263 non-null    float64
 55  2010            263 non-null    float64
 56  2011            263 non-null    float64
 57  2012            262 non-null    float64
 58  2013            262 non-null    float64
 59  2014            262 non-null    float64
 60  2015            262 non-null    float64
 61  2016            262 non-null    float64
 62  2017            262 non-null    float64
dtypes: float64(58), int64(1), object(4)
memory usage: 130.1+ KB

None

Nilai yang hilang:

Unnamed: 0        0
Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
                 ..
2013              2
2014              2
2015              2
2016              2
2017              2
Length: 63, dtype: int64

Tidak ada duplikasi data.

Ringkasan statistik:

,Unnamed: 0,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,264.000000,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,...,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02
mean,131.500000,1.178047e+08,1.193879e+08,1.215043e+08,1.241388e+08,1.267943e+08,1.295161e+08,1.323830e+08,1.352449e+08,1.381576e+08,...,2.700922e+08,2.736009e+08,2.771312e+08,2.806502e+08,2.853281e+08,2.890029e+08,2.927066e+08,2.964194e+08,3.001537e+08,3.038840e+08
std,76.354437,3.718380e+08,3.763000e+08,3.828567e+08,3.914029e+08,3.999940e+08,4.088230e+08,4.182201e+08,4.275709e+08,4.371272e+08,...,8.590623e+08,8.695613e+08,8.801281e+08,8.907357e+08,9.030998e+08,9.140529e+08,9.250713e+08,9.361003e+08,9.471857e+08,9.582593e+08
min,0.000000,4.279000e+03,4.453000e+03,4.566000e+03,4.656000e+03,4.748000e+03,4.841000e+03,4.936000e+03,5.033000e+03,5.161000e+03,...,9.947000e+03,9.945000e+03,1.002500e+04,1.005700e+04,1.027900e+04,1.081900e+04,1.090800e+04,1.100100e+04,1.109700e+04,1.119200e+04
25%,65.750000,5.184015e+05,5.301480e+05,5.426568e+05,5.559520e+05,5.684168e+05,5.727790e+05,5.786500e+05,5.882328e+05,6.257960e+05,...,1.363216e+06,1.425982e+06,1.443678e+06,1.465471e+06,1.415726e+06,1.431560e+06,1.447306e+06,1.471523e+06,1.522803e+06,1.577113e+06
50%,131.500000,3.669524e+06,3.734206e+06,3.839584e+06,3.955168e+06,4.074411e+06,4.170862e+06,4.235562e+06,4.300502e+06,4.367325e+06,...,9.219637e+06,9.298515e+06,9.378126e+06,9.460802e+06,9.624267e+06,9.746730e+06,9.879129e+06,1.002115e+07,1.012427e+07,1.018073e+07
75%,197.250000,2.532754e+07,2.611541e+07,2.690508e+07,2.770050e+07,2.847884e+07,2.924750e+07,2.999693e+07,3.059503e+07,3.120239e+07,...,4.994594e+07,5.038575e+07,5.087028e+07,5.140827e+07,5.249529e+07,5.318760e+07,5.396340e+07,5.493841e+07,5.590466e+07,5.716180e+07
max,263.000000,3.032160e+09,3.073369e+09,3.126510e+09,3.191786e+09,3.257460e+09,3.324545e+09,3.394784e+09,3.464689e+09,3.535355e+09,...,6.766297e+09,6.849569e+09,6.932870e+09,7.014984e+09,7.099558e+09,7.185138e+09,7.271323e+09,7.357559e+09,7.444157e+09,7.530360e+09

Variabel Kategorikal:

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], dtype='object')

population_data.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            260 non-null    float64
 5   1961            260 non-null    float64
 6   1962            260 non-null    float64
 7   1963            260 non-null    float64
 8   1964            260 non-null    float64
 9   1965            260 non-null    float64
 10  1966            260 non-null    float64
 11  1967            260 non-null    float64
 12  1968            260 non-null    float64
 13  1969            260 non-null    float64
 14  1970            260 non-null    float64
 15  1971            260 non-null    float64
 16  1972            260 non-null    float64
 17  1973            260 non-null    float64
 18  1974            260 non-null    float64
 19  1975            260 non-null    float64
 20  1976            260 non-null    float64
 21  1977            260 non-null    float64
 22  1978            260 non-null    float64
 23  1979            260 non-null    float64
 24  1980            260 non-null    float64
 25  1981            260 non-null    float64
 26  1982            260 non-null    float64
 27  1983            260 non-null    float64
 28  1984            260 non-null    float64
 29  1985            260 non-null    float64
 30  1986            260 non-null    float64
 31  1987            260 non-null    float64
 32  1988            260 non-null    float64
 33  1989            260 non-null    float64
 34  1990            262 non-null    float64
 35  1991            262 non-null    float64
 36  1992            261 non-null    float64
 37  1993            261 non-null    float64
 38  1994            261 non-null    float64
 39  1995            262 non-null    float64
 40  1996            262 non-null    float64
 41  1997            262 non-null    float64
 42  1998            263 non-null    float64
 43  1999            263 non-null    float64
 44  2000            263 non-null    float64
 45  2001            263 non-null    float64
 46  2002            263 non-null    float64
 47  2003            263 non-null    float64
 48  2004            263 non-null    float64
 49  2005            263 non-null    float64
 50  2006            263 non-null    float64
 51  2007            263 non-null    float64
 52  2008            263 non-null    float64
 53  2009            263 non-null    float64
 54  2010            263 non-null    float64
 55  2011            263 non-null    float64
 56  2012            262 non-null    float64
 57  2013            262 non-null    float64
 58  2014            262 non-null    float64
 59  2015            262 non-null    float64
 60  2016            262 non-null    float64
 61  2017            262 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

Nilai yang hilang:

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              4
                 ..
2013              2
2014              2
2015              2
2016              2
2017              2
Length: 62, dtype: int64

Tidak ada duplikasi data.

Ringkasan statistik:

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,...,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02
mean,1.178047e+08,1.193879e+08,1.215043e+08,1.241388e+08,1.267943e+08,1.295161e+08,1.323830e+08,1.352449e+08,1.381576e+08,1.412127e+08,...,2.700922e+08,2.736009e+08,2.771312e+08,2.806502e+08,2.853281e+08,2.890029e+08,2.927066e+08,2.964194e+08,3.001537e+08,3.038840e+08
std,3.718380e+08,3.763000e+08,3.828567e+08,3.914029e+08,3.999940e+08,4.088230e+08,4.182201e+08,4.275709e+08,4.371272e+08,4.471654e+08,...,8.590623e+08,8.695613e+08,8.801281e+08,8.907357e+08,9.030998e+08,9.140529e+08,9.250713e+08,9.361003e+08,9.471857e+08,9.582593e+08
min,4.279000e+03,4.453000e+03,4.566000e+03,4.656000e+03,4.748000e+03,4.841000e+03,4.936000e+03,5.033000e+03,5.161000e+03,5.303000e+03,...,9.947000e+03,9.945000e+03,1.002500e+04,1.005700e+04,1.027900e+04,1.081900e+04,1.090800e+04,1.100100e+04,1.109700e+04,1.119200e+04
25%,5.184015e+05,5.301480e+05,5.426568e+05,5.559520e+05,5.684168e+05,5.727790e+05,5.786500e+05,5.882328e+05,6.257960e+05,6.567582e+05,...,1.363216e+06,1.425982e+06,1.443678e+06,1.465471e+06,1.415726e+06,1.431560e+06,1.447306e+06,1.471523e+06,1.522803e+06,1.577113e+06
50%,3.669524e+06,3.734206e+06,3.839584e+06,3.955168e+06,4.074411e+06,4.170862e+06,4.235562e+06,4.300502e+06,4.367325e+06,4.449014e+06,...,9.219637e+06,9.298515e+06,9.378126e+06,9.460802e+06,9.624267e+06,9.746730e+06,9.879129e+06,1.002115e+07,1.012427e+07,1.018073e+07
75%,2.532754e+07,2.611541e+07,2.690508e+07,2.770050e+07,2.847884e+07,2.924750e+07,2.999693e+07,3.059503e+07,3.120239e+07,3.179527e+07,...,4.994594e+07,5.038575e+07,5.087028e+07,5.140827e+07,5.249529e+07,5.318760e+07,5.396340e+07,5.493841e+07,5.590466e+07,5.716180e+07
max,3.032160e+09,3.073369e+09,3.126510e+09,3.191786e+09,3.257460e+09,3.324545e+09,3.394784e+09,3.464689e+09,3.535355e+09,3.610179e+09,...,6.766297e+09,6.849569e+09,6.932870e+09,7.014984e+09,7.099558e+09,7.185138e+09,7.271323e+09,7.357559e+09,7.444157e+09,7.530360e+09

Variabel Kategorikal:

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], dtype='object')

population_data.json:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            260 non-null    float64
 5   1961            260 non-null    float64
 6   1962            260 non-null    float64
 7   1963            260 non-null    float64
 8   1964            260 non-null    float64
 9   1965            260 non-null    float64
 10  1966            260 non-null    float64
 11  1967            260 non-null    float64
 12  1968            260 non-null    float64
 13  1969            260 non-null    float64
 14  1970            260 non-null    float64
 15  1971            260 non-null    float64
 16  1972            260 non-null    float64
 17  1973            260 non-null    float64
 18  1974            260 non-null    float64
 19  1975            260 non-null    float64
 20  1976            260 non-null    float64
 21  1977            260 non-null    float64
 22  1978            260 non-null    float64
 23  1979            260 non-null    float64
 24  1980            260 non-null    float64
 25  1981            260 non-null    float64
 26  1982            260 non-null    float64
 27  1983            260 non-null    float64
 28  1984            260 non-null    float64
 29  1985            260 non-null    float64
 30  1986            260 non-null    float64
 31  1987            260 non-null    float64
 32  1988            260 non-null    float64
 33  1989            260 non-null    float64
 34  1990            262 non-null    float64
 35  1991            262 non-null    float64
 36  1992            261 non-null    float64
 37  1993            261 non-null    float64
 38  1994            261 non-null    float64
 39  1995            262 non-null    float64
 40  1996            262 non-null    float64
 41  1997            262 non-null    float64
 42  1998            263 non-null    float64
 43  1999            263 non-null    float64
 44  2000            263 non-null    float64
 45  2001            263 non-null    float64
 46  2002            263 non-null    float64
 47  2003            263 non-null    float64
 48  2004            263 non-null    float64
 49  2005            263 non-null    float64
 50  2006            263 non-null    float64
 51  2007            263 non-null    float64
 52  2008            263 non-null    float64
 53  2009            263 non-null    float64
 54  2010            263 non-null    float64
 55  2011            263 non-null    float64
 56  2012            262 non-null    float64
 57  2013            262 non-null    float64
 58  2014            262 non-null    float64
 59  2015            262 non-null    float64
 60  2016            262 non-null    float64
 61  2017            262 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

Nilai yang hilang:

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              4
                 ..
2013              2
2014              2
2015              2
2016              2
2017              2
Length: 62, dtype: int64

Tidak ada duplikasi data.

Ringkasan statistik:

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,...,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02
mean,1.178047e+08,1.193879e+08,1.215043e+08,1.241388e+08,1.267943e+08,1.295161e+08,1.323830e+08,1.352449e+08,1.381576e+08,1.412127e+08,...,2.700922e+08,2.736009e+08,2.771312e+08,2.806502e+08,2.853281e+08,2.890029e+08,2.927066e+08,2.964194e+08,3.001537e+08,3.038840e+08
std,3.718380e+08,3.763000e+08,3.828567e+08,3.914029e+08,3.999940e+08,4.088230e+08,4.182201e+08,4.275709e+08,4.371272e+08,4.471654e+08,...,8.590623e+08,8.695613e+08,8.801281e+08,8.907357e+08,9.030998e+08,9.140529e+08,9.250713e+08,9.361003e+08,9.471857e+08,9.582593e+08
min,4.279000e+03,4.453000e+03,4.566000e+03,4.656000e+03,4.748000e+03,4.841000e+03,4.936000e+03,5.033000e+03,5.161000e+03,5.303000e+03,...,9.947000e+03,9.945000e+03,1.002500e+04,1.005700e+04,1.027900e+04,1.081900e+04,1.090800e+04,1.100100e+04,1.109700e+04,1.119200e+04
25%,5.184015e+05,5.301480e+05,5.426568e+05,5.559520e+05,5.684168e+05,5.727790e+05,5.786500e+05,5.882328e+05,6.257960e+05,6.567582e+05,...,1.363216e+06,1.425982e+06,1.443678e+06,1.465471e+06,1.415726e+06,1.431560e+06,1.447306e+06,1.471523e+06,1.522803e+06,1.577113e+06
50%,3.669524e+06,3.734206e+06,3.839584e+06,3.955168e+06,4.074411e+06,4.170862e+06,4.235562e+06,4.300502e+06,4.367325e+06,4.449014e+06,...,9.219637e+06,9.298515e+06,9.378126e+06,9.460802e+06,9.624267e+06,9.746730e+06,9.879129e+06,1.002115e+07,1.012427e+07,1.018073e+07
75%,2.532754e+07,2.611541e+07,2.690508e+07,2.770050e+07,2.847884e+07,2.924750e+07,2.999693e+07,3.059503e+07,3.120239e+07,3.179527e+07,...,4.994594e+07,5.038575e+07,5.087028e+07,5.140827e+07,5.249529e+07,5.318760e+07,5.396340e+07,5.493841e+07,5.590466e+07,5.716180e+07
max,3.032160e+09,3.073369e+09,3.126510e+09,3.191786e+09,3.257460e+09,3.324545e+09,3.394784e+09,3.464689e+09,3.535355e+09,3.610179e+09,...,6.766297e+09,6.849569e+09,6.932870e+09,7.014984e+09,7.099558e+09,7.185138e+09,7.271323e+09,7.357559e+09,7.444157e+09,7.530360e+09

Variabel Kategorikal:

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], dtype='object')

population_data.xml:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15312 entries, 0 to 15311
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    15312 non-null  object
 1   Country Code    15312 non-null  object
 2   Indicator Name  15312 non-null  object
 3   Indicator Code  15312 non-null  object
 4   Year            15312 non-null  object
 5   Value           15312 non-null  object
dtypes: object(6)
memory usage: 717.9+ KB

None

Tidak ada nilai yang hilang.
Tidak ada duplikasi data.

Ringkasan statistik:

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
count,15312,15312,15312,15312,15312,15312
unique,264,264,1,1,58,14959
top,Aruba,ABW,"Population, total",SP.POP.TOTL,1960,
freq,58,58,15312,15312,264,165

Variabel Kategorikal:

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Year', 'Value'],
      dtype='object')

population_data.db:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 63 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           264 non-null    int64
 1   Country_Name    264 non-null    object
 2   Country_Code    264 non-null    object
 3   Indicator_Name  264 non-null    object
 4   Indicator_Code  264 non-null    object
 5   1960            260 non-null    float64
 6   1961            260 non-null    float64
 7   1962            260 non-null    float64
 8   1963            260 non-null    float64
 9   1964            260 non-null    float64
 10  1965            260 non-null    float64
 11  1966            260 non-null    float64
 12  1967            260 non-null    float64
 13  1968            260 non-null    float64
 14  1969            260 non-null    float64
 15  1970            260 non-null    float64
 16  1971            260 non-null    float64
 17  1972            260 non-null    float64
 18  1973            260 non-null    float64
 19  1974            260 non-null    float64
 20  1975            260 non-null    float64
 21  1976            260 non-null    float64
 22  1977            260 non-null    float64
 23  1978            260 non-null    float64
 24  1979            260 non-null    float64
 25  1980            260 non-null    float64
 26  1981            260 non-null    float64
 27  1982            260 non-null    float64
 28  1983            260 non-null    float64
 29  1984            260 non-null    float64
 30  1985            260 non-null    float64
 31  1986            260 non-null    float64
 32  1987            260 non-null    float64
 33  1988            260 non-null    float64
 34  1989            260 non-null    float64
 35  1990            262 non-null    float64
 36  1991            262 non-null    float64
 37  1992            261 non-null    float64
 38  1993            261 non-null    float64
 39  1994            261 non-null    float64
 40  1995            262 non-null    float64
 41  1996            262 non-null    float64
 42  1997            262 non-null    float64
 43  1998            263 non-null    float64
 44  1999            263 non-null    float64
 45  2000            263 non-null    float64
 46  2001            263 non-null    float64
 47  2002            263 non-null    float64
 48  2003            263 non-null    float64
 49  2004            263 non-null    float64
 50  2005            263 non-null    float64
 51  2006            263 non-null    float64
 52  2007            263 non-null    float64
 53  2008            263 non-null    float64
 54  2009            263 non-null    float64
 55  2010            263 non-null    float64
 56  2011            263 non-null    float64
 57  2012            262 non-null    float64
 58  2013            262 non-null    float64
 59  2014            262 non-null    float64
 60  2015            262 non-null    float64
 61  2016            262 non-null    float64
 62  2017            262 non-null    float64
dtypes: float64(58), int64(1), object(4)
memory usage: 130.1+ KB

None

Nilai yang hilang:

index             0
Country_Name      0
Country_Code      0
Indicator_Name    0
Indicator_Code    0
                 ..
2013              2
2014              2
2015              2
2016              2
2017              2
Length: 63, dtype: int64

Tidak ada duplikasi data.

Ringkasan statistik:

,index,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,264.000000,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,...,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02
mean,131.500000,1.178047e+08,1.193879e+08,1.215043e+08,1.241388e+08,1.267943e+08,1.295161e+08,1.323830e+08,1.352449e+08,1.381576e+08,...,2.700922e+08,2.736009e+08,2.771312e+08,2.806502e+08,2.853281e+08,2.890029e+08,2.927066e+08,2.964194e+08,3.001537e+08,3.038840e+08
std,76.354437,3.718380e+08,3.763000e+08,3.828567e+08,3.914029e+08,3.999940e+08,4.088230e+08,4.182201e+08,4.275709e+08,4.371272e+08,...,8.590623e+08,8.695613e+08,8.801281e+08,8.907357e+08,9.030998e+08,9.140529e+08,9.250713e+08,9.361003e+08,9.471857e+08,9.582593e+08
min,0.000000,4.279000e+03,4.453000e+03,4.566000e+03,4.656000e+03,4.748000e+03,4.841000e+03,4.936000e+03,5.033000e+03,5.161000e+03,...,9.947000e+03,9.945000e+03,1.002500e+04,1.005700e+04,1.027900e+04,1.081900e+04,1.090800e+04,1.100100e+04,1.109700e+04,1.119200e+04
25%,65.750000,5.184015e+05,5.301480e+05,5.426568e+05,5.559520e+05,5.684168e+05,5.727790e+05,5.786500e+05,5.882328e+05,6.257960e+05,...,1.363216e+06,1.425982e+06,1.443678e+06,1.465471e+06,1.415726e+06,1.431560e+06,1.447306e+06,1.471523e+06,1.522803e+06,1.577113e+06
50%,131.500000,3.669524e+06,3.734206e+06,3.839584e+06,3.955168e+06,4.074411e+06,4.170862e+06,4.235562e+06,4.300502e+06,4.367325e+06,...,9.219637e+06,9.298515e+06,9.378126e+06,9.460802e+06,9.624267e+06,9.746730e+06,9.879129e+06,1.002115e+07,1.012427e+07,1.018073e+07
75%,197.250000,2.532754e+07,2.611541e+07,2.690508e+07,2.770050e+07,2.847884e+07,2.924750e+07,2.999693e+07,3.059503e+07,3.120239e+07,...,4.994594e+07,5.038575e+07,5.087028e+07,5.140827e+07,5.249529e+07,5.318760e+07,5.396340e+07,5.493841e+07,5.590466e+07,5.716180e+07
max,263.000000,3.032160e+09,3.073369e+09,3.126510e+09,3.191786e+09,3.257460e+09,3.324545e+09,3.394784e+09,3.464689e+09,3.535355e+09,...,6.766297e+09,6.849569e+09,6.932870e+09,7.014984e+09,7.099558e+09,7.185138e+09,7.271323e+09,7.357559e+09,7.444157e+09,7.530360e+09

Variabel Kategorikal:

Index(['Country_Name', 'Country_Code', 'Indicator_Name', 'Indicator_Code'], dtype='object')

projects_data.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18248 entries, 0 to 18247
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18248 non-null  object
 1   regionname                18248 non-null  object
 2   countryname               18248 non-null  object
 3   prodline                  18248 non-null  object
 4   lendinginstr              18002 non-null  object
 5   lendinginstrtype          18002 non-null  object
 6   envassesmentcategorycode  12437 non-null  object
 7   supplementprojectflg      18195 non-null  object
 8   productlinetype           18248 non-null  object
 9   projectstatusdisplay      18244 non-null  object
 10  status                    18244 non-null  object
 11  project_name              18248 non-null  object
 12  boardapprovaldate         16744 non-null  object
 13  board_approval_month      16744 non-null  object
 14  closingdate               14899 non-null  object
 15  lendprojectcost           18123 non-null  object
 16  ibrdcommamt               18248 non-null  object
 17  idacommamt                18248 non-null  object
 18  totalamt                  18248 non-null  object
 19  grantamt                  18248 non-null  object
 20  borrower                  12329 non-null  object
 21  impagency                 12151 non-null  object
 22  url                       18248 non-null  object
 23  projectdoc                0 non-null      float64
 24  majorsector_percent       0 non-null      float64
 25  sector1                   18248 non-null  object
 26  sector2                   9527 non-null   object
 27  sector3                   6487 non-null   object
 28  sector4                   4376 non-null   object
 29  sector5                   2713 non-null   object
 30  sector                    17610 non-null  object
 31  mjsector1                 0 non-null      float64
 32  mjsector2                 0 non-null      float64
 33  mjsector3                 0 non-null      float64
 34  mjsector4                 0 non-null      float64
 35  mjsector5                 0 non-null      float64
 36  mjsector                  17610 non-null  object
 37  theme1                    18248 non-null  object
 38  theme2                    9853 non-null   object
 39  theme3                    7484 non-null   object
 40  theme4                    5234 non-null   object
 41  theme5                    2928 non-null   object
 42  theme                     0 non-null      float64
 43  goal                      12133 non-null  object
 44  financier                 7060 non-null   object
 45  mjtheme1name              0 non-null      float64
 46  mjtheme2name              0 non-null      float64
 47  mjtheme3name              0 non-null      float64
 48  mjtheme4name              0 non-null      float64
 49  mjtheme5name              0 non-null      float64
 50  location                  4326 non-null   object
 51  GeoLocID                  4326 non-null   object
 52  GeoLocName                4325 non-null   object
 53  Latitude                  4326 non-null   object
 54  Longitude                 4326 non-null   object
 55  Country                   4203 non-null   object
 56  Unnamed: 56               0 non-null      float64
dtypes: float64(14), object(43)
memory usage: 7.9+ MB

None

Nilai yang hilang:

id                              0
regionname                      0
countryname                     0
prodline                        0
lendinginstr                  246
lendinginstrtype              246
envassesmentcategorycode     5811
supplementprojectflg           53
productlinetype                 0
projectstatusdisplay            4
status                          4
project_name                    0
boardapprovaldate            1504
board_approval_month         1504
closingdate                  3349
lendprojectcost               125
ibrdcommamt                     0
idacommamt                      0
totalamt                        0
grantamt                        0
borrower                     5919
impagency                    6097
url                             0
projectdoc                  18248
majorsector_percent         18248
sector1                         0
sector2                      8721
sector3                     11761
sector4                     13872
sector5                     15535
sector                        638
mjsector1                   18248
mjsector2                   18248
mjsector3                   18248
mjsector4                   18248
mjsector5                   18248
mjsector                      638
theme1                          0
theme2                       8395
theme3                      10764
theme4                      13014
theme5                      15320
theme                       18248
goal                         6115
financier                   11188
mjtheme1name                18248
mjtheme2name                18248
mjtheme3name                18248
mjtheme4name                18248
mjtheme5name                18248
location                    13922
GeoLocID                    13922
GeoLocName                  13923
Latitude                    13922
Longitude                   13922
Country                     14045
Unnamed: 56                 18248
dtype: int64

Tidak ada duplikasi data.

Ringkasan statistik:

,projectdoc,majorsector_percent,mjsector1,mjsector2,mjsector3,mjsector4,mjsector5,theme,mjtheme1name,mjtheme2name,mjtheme3name,mjtheme4name,mjtheme5name,Unnamed: 56
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Variabel Kategorikal:

Index(['id', 'regionname', 'countryname', 'prodline', 'lendinginstr',
       'lendinginstrtype', 'envassesmentcategorycode', 'supplementprojectflg',
       'productlinetype', 'projectstatusdisplay', 'status', 'project_name',
       'boardapprovaldate', 'board_approval_month', 'closingdate',
       'lendprojectcost', 'ibrdcommamt', 'idacommamt', 'totalamt', 'grantamt',
       'borrower', 'impagency', 'url', 'sector1', 'sector2', 'sector3',
       'sector4', 'sector5', 'sector', 'mjsector', 'theme1', 'theme2',
       'theme3', 'theme4', 'theme5', 'goal', 'financier', 'location',
       'GeoLocID', 'GeoLocName', 'Latitude', 'Longitude', 'Country'],
      dtype='object')

rural_population_percent.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            259 non-null    float64
 5   1961            259 non-null    float64
 6   1962            259 non-null    float64
 7   1963            259 non-null    float64
 8   1964            259 non-null    float64
 9   1965            259 non-null    float64
 10  1966            259 non-null    float64
 11  1967            259 non-null    float64
 12  1968            259 non-null    float64
 13  1969            259 non-null    float64
 14  1970            259 non-null    float64
 15  1971            259 non-null    float64
 16  1972            259 non-null    float64
 17  1973            259 non-null    float64
 18  1974            259 non-null    float64
 19  1975            259 non-null    float64
 20  1976            259 non-null    float64
 21  1977            259 non-null    float64
 22  1978            259 non-null    float64
 23  1979            259 non-null    float64
 24  1980            259 non-null    float64
 25  1981            259 non-null    float64
 26  1982            259 non-null    float64
 27  1983            259 non-null    float64
 28  1984            259 non-null    float64
 29  1985            259 non-null    float64
 30  1986            259 non-null    float64
 31  1987            259 non-null    float64
 32  1988            259 non-null    float64
 33  1989            259 non-null    float64
 34  1990            261 non-null    float64
 35  1991            261 non-null    float64
 36  1992            261 non-null    float64
 37  1993            261 non-null    float64
 38  1994            261 non-null    float64
 39  1995            261 non-null    float64
 40  1996            261 non-null    float64
 41  1997            261 non-null    float64
 42  1998            261 non-null    float64
 43  1999            261 non-null    float64
 44  2000            261 non-null    float64
 45  2001            261 non-null    float64
 46  2002            261 non-null    float64
 47  2003            261 non-null    float64
 48  2004            261 non-null    float64
 49  2005            261 non-null    float64
 50  2006            261 non-null    float64
 51  2007            261 non-null    float64
 52  2008            261 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            261 non-null    float64
 56  2012            260 non-null    float64
 57  2013            260 non-null    float64
 58  2014            260 non-null    float64
 59  2015            260 non-null    float64
 60  2016            260 non-null    float64
 61  2017            260 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

Nilai yang hilang:

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              5
                 ..
2013              4
2014              4
2015              4
2016              4
2017              4
Length: 62, dtype: int64

Tidak ada duplikasi data.

Ringkasan statistik:

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,...,261.000000,261.000000,261.000000,261.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000
mean,63.780723,63.268079,62.744129,62.210687,61.665423,61.126631,60.589304,60.054138,59.499864,58.942975,...,43.660014,43.352914,43.046385,42.737262,42.289136,41.981502,41.673917,41.366302,41.058825,40.751455
std,23.872073,23.915329,23.962966,24.009611,24.050453,24.097359,24.149868,24.195656,24.245253,24.288816,...,23.551873,23.504142,23.455723,23.403420,23.286923,23.233259,23.177917,23.120807,23.061619,23.000182
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49.172500,48.369500,47.476500,46.669500,45.993000,45.333500,44.372500,43.554000,42.463000,41.518000,...,24.432000,24.068000,23.708000,23.351000,23.164250,22.892000,22.634000,22.267500,21.851750,21.449750
50%,67.599000,66.478000,66.045000,65.338000,64.803000,64.470390,63.952000,63.204000,62.640000,61.926773,...,44.889000,44.445000,43.804530,43.533000,43.084825,42.625581,42.242671,41.455916,41.014860,40.621500
75%,83.172084,82.764152,82.083313,81.629136,81.131221,80.953000,80.677000,80.618000,80.395000,79.902500,...,63.606000,63.177000,62.741000,62.298000,61.592000,61.112750,60.612500,60.257000,59.992500,59.538250
max,97.923000,97.885000,97.846000,97.807000,97.767000,97.706000,97.605000,97.499000,97.389000,97.274000,...,90.592000,90.751000,90.908000,91.063000,91.205000,91.334000,91.450000,91.555000,91.648000,91.730000

Variabel Kategorikal:

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], dtype='object')

API:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17024 entries, 0 to 17023
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  17024 non-null  object
 1   date             17024 non-null  object
 2   value            16665 non-null  float64
 3   unit             17024 non-null  object
 4   obs_status       17024 non-null  object
 5   decimal          17024 non-null  int64
 6   indicator.id     17024 non-null  object
 7   indicator.value  17024 non-null  object
 8   country.id       17024 non-null  object
 9   country.value    17024 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB

None

Nilai yang hilang:

countryiso3code      0
date                 0
value              359
unit                 0
obs_status           0
decimal              0
indicator.id         0
indicator.value      0
country.id           0
country.value        0
dtype: int64

Tidak ada duplikasi data.

Ringkasan statistik:

              value  decimal
count  1.666500e+04  17024.0
mean   2.159737e+08      0.0
std    7.102653e+08      0.0
min    2.646000e+03      0.0
25%    9.940000e+05      0.0
50%    6.787419e+06      0.0
75%    4.641603e+07      0.0
max    7.950947e+09      0.0

Variabel Kategorikal:

Index(['countryiso3code', 'date', 'unit', 'obs_status', 'indicator.id',
       'indicator.value', 'country.id', 'country.value'],
      dtype='object')

## Penyesuaian Data

###  Struktur Data 

Berikut adalah penyesuaian data yang dilakukan:

- Pembersihan Data, 
- Penyesuaian Kolom, 
- Ubah Tipe Data Kolom, 
- Filtering berdasarkan tanggal.

Dilakukan secara keseluruhan dengan menggunakan fungsi dan penerapan pada kondisi tertentu

In [70]:
def data_preprocessing(data_files):
    for filename, df in data_files.items():
        # Menghapus tanda koma (",") dari isi dataset
        df = df.replace({',': ''}, regex=True)
        # Menghapus tanda spasi dari isi dataset
        df = df.apply(lambda x: x.map(lambda y: y.replace(' ', '') if isinstance(y, str) else y))

        if 'countryname' in df.columns:
            df['countryname'] = df['countryname'].str.split(';').str[0]

        if 'closingdate' in df.columns:
            df['closingdate'] = pd.to_datetime(df['closingdate'])

        if 'boardapprovaldate' in df.columns:
            # Mengubah tipe data kolom boardapprovaldate menjadi datetime
            df['boardapprovaldate'] = pd.to_datetime(df['boardapprovaldate'])
            # Mengubah NaN menjadi 0 setelah konversi ke integer
            df['boardapprovaldate'] = df['boardapprovaldate'].dt.year.fillna(0).astype(int)

        columns_to_clean = ['lendprojectcost', 'ibrdcommamt', 'idacommamt', 'totalamt', 'grantamt']
        for col in columns_to_clean:
            if col in df.columns:
                # Menghilangkan koma dari kolom yang ditentukan
                df[col] = df[col].replace({',': ''}, regex=True)
                # Mengubah NaN menjadi 0
                df[col] = df[col].fillna(0).astype('int64')

        # Filtering Data Berdasarkan Tanggal
        if 'date' in df.columns:
            df = df[(df['date'] >= '2018') & (df['date'] <= '2023')]
            # Mengubah nama kolom
            df.rename(columns={'countryiso3code': 'Country Code', 'date': 'Year', 'value': 'Population', 'country.value': 'Country Name'}, inplace=True)
            # Mereset index dan menghapus nama kolom
            df = df.pivot(index=['Country Name', 'Country Code'], columns='Year', values='Population').reset_index()
            df.columns_name = None
            # Menghapus tanda "," dari isi dataset
            df = df.replace({',': ''}, regex=True)
            # Menghapus tanda " " dari isi dataset
            df = df.apply(lambda x: x.map(lambda y: y.strip() if isinstance(y, str) else y))

        # Menimpa DataFrame yang sudah dimodifikasi ke dalam data_files
        data_files[filename] = df

        # Menyimpan DataFrame yang dimodifikasi ke dalam folder datacleaning, menimpa versi sebelumnya
        df.to_csv(f"datacleaning/{filename}_clean.csv", index=False)

        # Menampilkan informasi tentang DataFrame setelah preprocessing
        print(f"\nDataFrame setelah preprocessing untuk file: {filename}")
        display(df.info())
        display(df)

    return data_files

# Gunakan fungsi data_preprocessing untuk melakukan penyesuaian pada DataFrame
data_files_processed = data_preprocessing(data_files)

DataFrame setelah preprocessing untuk file: electricity_access_percent.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            0 non-null      float64
 12  1968            0 non-null      float64
 13  1969            0 non-null      float64
 14  1970            0 non-null      float64
 15  1971            0 non-null      float64
 16  1972            0 non-null      float64
 17  1973            0 non-null      float64
 18  1974            0 non-null      float64
 19  1975            0 non-null      float64
 20  1976            0 non-null      float64
 21  1977            0 non-null      float64
 22  1978            0 non-null      float64
 23  1979            0 non-null      float64
 24  1980            0 non-null      float64
 25  1981            0 non-null      float64
 26  1982            0 non-null      float64
 27  1983            0 non-null      float64
 28  1984            0 non-null      float64
 29  1985            0 non-null      float64
 30  1986            0 non-null      float64
 31  1987            0 non-null      float64
 32  1988            0 non-null      float64
 33  1989            0 non-null      float64
 34  1990            251 non-null    float64
 35  1991            251 non-null    float64
 36  1992            251 non-null    float64
 37  1993            251 non-null    float64
 38  1994            252 non-null    float64
 39  1995            255 non-null    float64
 40  1996            256 non-null    float64
 41  1997            256 non-null    float64
 42  1998            256 non-null    float64
 43  1999            256 non-null    float64
 44  2000            257 non-null    float64
 45  2001            258 non-null    float64
 46  2002            259 non-null    float64
 47  2003            259 non-null    float64
 48  2004            260 non-null    float64
 49  2005            260 non-null    float64
 50  2006            260 non-null    float64
 51  2007            261 non-null    float64
 52  2008            261 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            261 non-null    float64
 56  2012            261 non-null    float64
 57  2013            261 non-null    float64
 58  2014            261 non-null    float64
 59  2015            261 non-null    float64
 60  2016            261 non-null    float64
 61  2017            0 non-null      float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN
1,Afghanistan,AFG,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN
2,Angola,AGO,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN
3,Albania,ALB,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
4,Andorra,AND,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,NaN
260,YemenRep.,YEM,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,NaN
261,SouthAfrica,ZAF,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,NaN
262,Zambia,ZMB,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,NaN
263,Zimbabwe,ZWE,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,NaN

DataFrame setelah preprocessing untuk file: gdp_data.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            124 non-null    float64
 5   1961            124 non-null    float64
 6   1962            125 non-null    float64
 7   1963            125 non-null    float64
 8   1964            125 non-null    float64
 9   1965            136 non-null    float64
 10  1966            137 non-null    float64
 11  1967            141 non-null    float64
 12  1968            145 non-null    float64
 13  1969            145 non-null    float64
 14  1970            153 non-null    float64
 15  1971            155 non-null    float64
 16  1972            155 non-null    float64
 17  1973            155 non-null    float64
 18  1974            156 non-null    float64
 19  1975            160 non-null    float64
 20  1976            161 non-null    float64
 21  1977            165 non-null    float64
 22  1978            164 non-null    float64
 23  1979            165 non-null    float64
 24  1980            177 non-null    float64
 25  1981            181 non-null    float64
 26  1982            187 non-null    float64
 27  1983            188 non-null    float64
 28  1984            190 non-null    float64
 29  1985            192 non-null    float64
 30  1986            194 non-null    float64
 31  1987            198 non-null    float64
 32  1988            200 non-null    float64
 33  1989            204 non-null    float64
 34  1990            220 non-null    float64
 35  1991            214 non-null    float64
 36  1992            217 non-null    float64
 37  1993            222 non-null    float64
 38  1994            227 non-null    float64
 39  1995            236 non-null    float64
 40  1996            237 non-null    float64
 41  1997            236 non-null    float64
 42  1998            238 non-null    float64
 43  1999            239 non-null    float64
 44  2000            245 non-null    float64
 45  2001            245 non-null    float64
 46  2002            249 non-null    float64
 47  2003            249 non-null    float64
 48  2004            250 non-null    float64
 49  2005            250 non-null    float64
 50  2006            251 non-null    float64
 51  2007            251 non-null    float64
 52  2008            249 non-null    float64
 53  2009            249 non-null    float64
 54  2010            249 non-null    float64
 55  2011            250 non-null    float64
 56  2012            247 non-null    float64
 57  2013            248 non-null    float64
 58  2014            247 non-null    float64
 59  2015            246 non-null    float64
 60  2016            241 non-null    float64
 61  2017            234 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP(currentUS$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP(currentUS$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
2,Angola,AGO,GDP(currentUS$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.417804e+10,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11
3,Albania,ALB,GDP(currentUS$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10
4,Andorra,AND,GDP(currentUS$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP(currentUS$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.687488e+09,5.653793e+09,5.829934e+09,6.686683e+09,6.500193e+09,7.073420e+09,7.386891e+09,6.439947e+09,6.715487e+09,7.128691e+09
260,YemenRep.,YEM,GDP(currentUS$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.691085e+10,2.513027e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041524e+10,4.322858e+10,3.460248e+10,1.821333e+10,NaN
261,SouthAfrica,ZAF,GDP(currentUS$),NY.GDP.MKTP.CD,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,...,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11
262,Zambia,ZMB,GDP(currentUS$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
263,Zimbabwe,ZWE,GDP(currentUS$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10

DataFrame setelah preprocessing untuk file: mystery.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 63 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      264 non-null    int64
 1   Country Name    264 non-null    object
 2   Country Code    264 non-null    object
 3   Indicator Name  264 non-null    object
 4   Indicator Code  264 non-null    object
 5   1960            260 non-null    float64
 6   1961            260 non-null    float64
 7   1962            260 non-null    float64
 8   1963            260 non-null    float64
 9   1964            260 non-null    float64
 10  1965            260 non-null    float64
 11  1966            260 non-null    float64
 12  1967            260 non-null    float64
 13  1968            260 non-null    float64
 14  1969            260 non-null    float64
 15  1970            260 non-null    float64
 16  1971            260 non-null    float64
 17  1972            260 non-null    float64
 18  1973            260 non-null    float64
 19  1974            260 non-null    float64
 20  1975            260 non-null    float64
 21  1976            260 non-null    float64
 22  1977            260 non-null    float64
 23  1978            260 non-null    float64
 24  1979            260 non-null    float64
 25  1980            260 non-null    float64
 26  1981            260 non-null    float64
 27  1982            260 non-null    float64
 28  1983            260 non-null    float64
 29  1984            260 non-null    float64
 30  1985            260 non-null    float64
 31  1986            260 non-null    float64
 32  1987            260 non-null    float64
 33  1988            260 non-null    float64
 34  1989            260 non-null    float64
 35  1990            262 non-null    float64
 36  1991            262 non-null    float64
 37  1992            261 non-null    float64
 38  1993            261 non-null    float64
 39  1994            261 non-null    float64
 40  1995            262 non-null    float64
 41  1996            262 non-null    float64
 42  1997            262 non-null    float64
 43  1998            263 non-null    float64
 44  1999            263 non-null    float64
 45  2000            263 non-null    float64
 46  2001            263 non-null    float64
 47  2002            263 non-null    float64
 48  2003            263 non-null    float64
 49  2004            263 non-null    float64
 50  2005            263 non-null    float64
 51  2006            263 non-null    float64
 52  2007            263 non-null    float64
 53  2008            263 non-null    float64
 54  2009            263 non-null    float64
 55  2010            263 non-null    float64
 56  2011            263 non-null    float64
 57  2012            262 non-null    float64
 58  2013            262 non-null    float64
 59  2014            262 non-null    float64
 60  2015            262 non-null    float64
 61  2016            262 non-null    float64
 62  2017            262 non-null    float64
dtypes: float64(58), int64(1), object(4)
memory usage: 130.1+ KB

None

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

DataFrame setelah preprocessing untuk file: population_data.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            260 non-null    float64
 5   1961            260 non-null    float64
 6   1962            260 non-null    float64
 7   1963            260 non-null    float64
 8   1964            260 non-null    float64
 9   1965            260 non-null    float64
 10  1966            260 non-null    float64
 11  1967            260 non-null    float64
 12  1968            260 non-null    float64
 13  1969            260 non-null    float64
 14  1970            260 non-null    float64
 15  1971            260 non-null    float64
 16  1972            260 non-null    float64
 17  1973            260 non-null    float64
 18  1974            260 non-null    float64
 19  1975            260 non-null    float64
 20  1976            260 non-null    float64
 21  1977            260 non-null    float64
 22  1978            260 non-null    float64
 23  1979            260 non-null    float64
 24  1980            260 non-null    float64
 25  1981            260 non-null    float64
 26  1982            260 non-null    float64
 27  1983            260 non-null    float64
 28  1984            260 non-null    float64
 29  1985            260 non-null    float64
 30  1986            260 non-null    float64
 31  1987            260 non-null    float64
 32  1988            260 non-null    float64
 33  1989            260 non-null    float64
 34  1990            262 non-null    float64
 35  1991            262 non-null    float64
 36  1992            261 non-null    float64
 37  1993            261 non-null    float64
 38  1994            261 non-null    float64
 39  1995            262 non-null    float64
 40  1996            262 non-null    float64
 41  1997            262 non-null    float64
 42  1998            263 non-null    float64
 43  1999            263 non-null    float64
 44  2000            263 non-null    float64
 45  2001            263 non-null    float64
 46  2002            263 non-null    float64
 47  2003            263 non-null    float64
 48  2004            263 non-null    float64
 49  2005            263 non-null    float64
 50  2006            263 non-null    float64
 51  2007            263 non-null    float64
 52  2008            263 non-null    float64
 53  2009            263 non-null    float64
 54  2010            263 non-null    float64
 55  2011            263 non-null    float64
 56  2012            262 non-null    float64
 57  2013            262 non-null    float64
 58  2014            262 non-null    float64
 59  2015            262 non-null    float64
 60  2016            262 non-null    float64
 61  2017            262 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

DataFrame setelah preprocessing untuk file: population_data.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            260 non-null    float64
 5   1961            260 non-null    float64
 6   1962            260 non-null    float64
 7   1963            260 non-null    float64
 8   1964            260 non-null    float64
 9   1965            260 non-null    float64
 10  1966            260 non-null    float64
 11  1967            260 non-null    float64
 12  1968            260 non-null    float64
 13  1969            260 non-null    float64
 14  1970            260 non-null    float64
 15  1971            260 non-null    float64
 16  1972            260 non-null    float64
 17  1973            260 non-null    float64
 18  1974            260 non-null    float64
 19  1975            260 non-null    float64
 20  1976            260 non-null    float64
 21  1977            260 non-null    float64
 22  1978            260 non-null    float64
 23  1979            260 non-null    float64
 24  1980            260 non-null    float64
 25  1981            260 non-null    float64
 26  1982            260 non-null    float64
 27  1983            260 non-null    float64
 28  1984            260 non-null    float64
 29  1985            260 non-null    float64
 30  1986            260 non-null    float64
 31  1987            260 non-null    float64
 32  1988            260 non-null    float64
 33  1989            260 non-null    float64
 34  1990            262 non-null    float64
 35  1991            262 non-null    float64
 36  1992            261 non-null    float64
 37  1993            261 non-null    float64
 38  1994            261 non-null    float64
 39  1995            262 non-null    float64
 40  1996            262 non-null    float64
 41  1997            262 non-null    float64
 42  1998            263 non-null    float64
 43  1999            263 non-null    float64
 44  2000            263 non-null    float64
 45  2001            263 non-null    float64
 46  2002            263 non-null    float64
 47  2003            263 non-null    float64
 48  2004            263 non-null    float64
 49  2005            263 non-null    float64
 50  2006            263 non-null    float64
 51  2007            263 non-null    float64
 52  2008            263 non-null    float64
 53  2009            263 non-null    float64
 54  2010            263 non-null    float64
 55  2011            263 non-null    float64
 56  2012            262 non-null    float64
 57  2013            262 non-null    float64
 58  2014            262 non-null    float64
 59  2015            262 non-null    float64
 60  2016            262 non-null    float64
 61  2017            262 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

DataFrame setelah preprocessing untuk file: population_data.xml
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15312 entries, 0 to 15311
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    15312 non-null  object
 1   Country Code    15312 non-null  object
 2   Indicator Name  15312 non-null  object
 3   Indicator Code  15312 non-null  object
 4   Year            15312 non-null  object
 5   Value           15312 non-null  object
dtypes: object(6)
memory usage: 717.9+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,1960,54211
1,Aruba,ABW,Populationtotal,SP.POP.TOTL,1961,55438
2,Aruba,ABW,Populationtotal,SP.POP.TOTL,1962,56225
3,Aruba,ABW,Populationtotal,SP.POP.TOTL,1963,56695
4,Aruba,ABW,Populationtotal,SP.POP.TOTL,1964,57032
...,...,...,...,...,...,...
15307,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2013,15054506
15308,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2014,15411675
15309,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2015,15777451
15310,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2016,16150362
15311,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2017,16529904

DataFrame setelah preprocessing untuk file: population_data.db
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 63 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           264 non-null    int64
 1   Country_Name    264 non-null    object
 2   Country_Code    264 non-null    object
 3   Indicator_Name  264 non-null    object
 4   Indicator_Code  264 non-null    object
 5   1960            260 non-null    float64
 6   1961            260 non-null    float64
 7   1962            260 non-null    float64
 8   1963            260 non-null    float64
 9   1964            260 non-null    float64
 10  1965            260 non-null    float64
 11  1966            260 non-null    float64
 12  1967            260 non-null    float64
 13  1968            260 non-null    float64
 14  1969            260 non-null    float64
 15  1970            260 non-null    float64
 16  1971            260 non-null    float64
 17  1972            260 non-null    float64
 18  1973            260 non-null    float64
 19  1974            260 non-null    float64
 20  1975            260 non-null    float64
 21  1976            260 non-null    float64
 22  1977            260 non-null    float64
 23  1978            260 non-null    float64
 24  1979            260 non-null    float64
 25  1980            260 non-null    float64
 26  1981            260 non-null    float64
 27  1982            260 non-null    float64
 28  1983            260 non-null    float64
 29  1984            260 non-null    float64
 30  1985            260 non-null    float64
 31  1986            260 non-null    float64
 32  1987            260 non-null    float64
 33  1988            260 non-null    float64
 34  1989            260 non-null    float64
 35  1990            262 non-null    float64
 36  1991            262 non-null    float64
 37  1992            261 non-null    float64
 38  1993            261 non-null    float64
 39  1994            261 non-null    float64
 40  1995            262 non-null    float64
 41  1996            262 non-null    float64
 42  1997            262 non-null    float64
 43  1998            263 non-null    float64
 44  1999            263 non-null    float64
 45  2000            263 non-null    float64
 46  2001            263 non-null    float64
 47  2002            263 non-null    float64
 48  2003            263 non-null    float64
 49  2004            263 non-null    float64
 50  2005            263 non-null    float64
 51  2006            263 non-null    float64
 52  2007            263 non-null    float64
 53  2008            263 non-null    float64
 54  2009            263 non-null    float64
 55  2010            263 non-null    float64
 56  2011            263 non-null    float64
 57  2012            262 non-null    float64
 58  2013            262 non-null    float64
 59  2014            262 non-null    float64
 60  2015            262 non-null    float64
 61  2016            262 non-null    float64
 62  2017            262 non-null    float64
dtypes: float64(58), int64(1), object(4)
memory usage: 130.1+ KB

None

,index,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

DataFrame setelah preprocessing untuk file: projects_data.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18248 entries, 0 to 18247
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18248 non-null  object
 1   regionname                18248 non-null  object
 2   countryname               18248 non-null  object
 3   prodline                  18248 non-null  object
 4   lendinginstr              18002 non-null  object
 5   lendinginstrtype          18002 non-null  object
 6   envassesmentcategorycode  12437 non-null  object
 7   supplementprojectflg      18195 non-null  object
 8   productlinetype           18248 non-null  object
 9   projectstatusdisplay      18244 non-null  object
 10  status                    18244 non-null  object
 11  project_name              18248 non-null  object
 12  boardapprovaldate         18248 non-null  int32
 13  board_approval_month      16744 non-null  object
 14  closingdate               14899 non-null  datetime64[ns, UTC]
 15  lendprojectcost           18248 non-null  int64
 16  ibrdcommamt               18248 non-null  int64
 17  idacommamt                18248 non-null  int64
 18  totalamt                  18248 non-null  int64
 19  grantamt                  18248 non-null  int64
 20  borrower                  12329 non-null  object
 21  impagency                 12151 non-null  object
 22  url                       18248 non-null  object
 23  projectdoc                0 non-null      float64
 24  majorsector_percent       0 non-null      float64
 25  sector1                   18248 non-null  object
 26  sector2                   9527 non-null   object
 27  sector3                   6487 non-null   object
 28  sector4                   4376 non-null   object
 29  sector5                   2713 non-null   object
 30  sector                    17610 non-null  object
 31  mjsector1                 0 non-null      float64
 32  mjsector2                 0 non-null      float64
 33  mjsector3                 0 non-null      float64
 34  mjsector4                 0 non-null      float64
 35  mjsector5                 0 non-null      float64
 36  mjsector                  17610 non-null  object
 37  theme1                    18248 non-null  object
 38  theme2                    9853 non-null   object
 39  theme3                    7484 non-null   object
 40  theme4                    5234 non-null   object
 41  theme5                    2928 non-null   object
 42  theme                     0 non-null      float64
 43  goal                      12133 non-null  object
 44  financier                 7060 non-null   object
 45  mjtheme1name              0 non-null      float64
 46  mjtheme2name              0 non-null      float64
 47  mjtheme3name              0 non-null      float64
 48  mjtheme4name              0 non-null      float64
 49  mjtheme5name              0 non-null      float64
 50  location                  4326 non-null   object
 51  GeoLocID                  4326 non-null   object
 52  GeoLocName                4325 non-null   object
 53  Latitude                  4326 non-null   object
 54  Longitude                 4326 non-null   object
 55  Country                   4203 non-null   object
 56  Unnamed: 56               0 non-null      float64
dtypes: datetime64[ns, UTC](1), float64(14), int32(1), int64(5), object(36)
memory usage: 7.9+ MB

None

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World,RE,InvestmentProjectFinancing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,DemocraticRepublicoftheCongo,PE,InvestmentProjectFinancing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,SouthAsia,People'sRepublicofBangladesh,PE,InvestmentProjectFinancing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,SouthAsia,IslamicRepublicofAfghanistan,PE,InvestmentProjectFinancing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,FederalRepublicofNigeria,PE,InvestmentProjectFinancing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!OgunState!$!7!$!3.58333!$!NG;0002...,0002327546;0002328925;0002565340;0002565343;00...,OgunState;NigerState;AbiaState;Edo;KebbiState;...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,LatinAmericaandCaribbean,RepublicofChile,PE,SpecificInvestmentLoan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18244,P037451,EuropeandCentralAsia,GrandDuchyofLuxembourg,PE,StructuralAdjustmentLoan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18245,P037362,EuropeandCentralAsia,KingdomofDenmark,PE,StructuralAdjustmentLoan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18246,P037452,EuropeandCentralAsia,KingdomoftheNetherlands,PE,StructuralAdjustmentLoan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18247,P037383,EuropeandCentralAsia,FrenchRepublic,PE,StructuralAdjustmentLoan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DataFrame setelah preprocessing untuk file: rural_population_percent.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            259 non-null    float64
 5   1961            259 non-null    float64
 6   1962            259 non-null    float64
 7   1963            259 non-null    float64
 8   1964            259 non-null    float64
 9   1965            259 non-null    float64
 10  1966            259 non-null    float64
 11  1967            259 non-null    float64
 12  1968            259 non-null    float64
 13  1969            259 non-null    float64
 14  1970            259 non-null    float64
 15  1971            259 non-null    float64
 16  1972            259 non-null    float64
 17  1973            259 non-null    float64
 18  1974            259 non-null    float64
 19  1975            259 non-null    float64
 20  1976            259 non-null    float64
 21  1977            259 non-null    float64
 22  1978            259 non-null    float64
 23  1979            259 non-null    float64
 24  1980            259 non-null    float64
 25  1981            259 non-null    float64
 26  1982            259 non-null    float64
 27  1983            259 non-null    float64
 28  1984            259 non-null    float64
 29  1985            259 non-null    float64
 30  1986            259 non-null    float64
 31  1987            259 non-null    float64
 32  1988            259 non-null    float64
 33  1989            259 non-null    float64
 34  1990            261 non-null    float64
 35  1991            261 non-null    float64
 36  1992            261 non-null    float64
 37  1993            261 non-null    float64
 38  1994            261 non-null    float64
 39  1995            261 non-null    float64
 40  1996            261 non-null    float64
 41  1997            261 non-null    float64
 42  1998            261 non-null    float64
 43  1999            261 non-null    float64
 44  2000            261 non-null    float64
 45  2001            261 non-null    float64
 46  2002            261 non-null    float64
 47  2003            261 non-null    float64
 48  2004            261 non-null    float64
 49  2005            261 non-null    float64
 50  2006            261 non-null    float64
 51  2007            261 non-null    float64
 52  2008            261 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            261 non-null    float64
 56  2012            260 non-null    float64
 57  2013            260 non-null    float64
 58  2014            260 non-null    float64
 59  2015            260 non-null    float64
 60  2016            260 non-null    float64
 61  2017            260 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893
1,Afghanistan,AFG,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430
2,Angola,AGO,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422
3,Albania,ALB,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684
4,Andorra,AND,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,YemenRep.,YEM,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,90.900,90.541,90.169,89.784,89.386,88.974,...,69.398,68.835,68.268,67.698,67.126,66.550,65.973,65.394,64.813,64.231
261,SouthAfrica,ZAF,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.980,52.866,52.752,...,38.846,38.313,37.782,37.254,36.728,36.212,35.702,35.199,34.705,34.218
262,Zambia,ZMB,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,62.125,61.701,61.275,60.847,60.413,59.973,59.528,59.078,58.621,58.160
263,Zimbabwe,ZWE,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.380,...,66.440,66.622,66.804,66.985,67.166,67.346,67.499,67.624,67.723,67.793

DataFrame setelah preprocessing untuk file: API
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Country Code  266 non-null    object
 2   2018          265 non-null    float64
 3   2019          265 non-null    float64
 4   2020          265 non-null    float64
 5   2021          265 non-null    float64
 6   2022          265 non-null    float64
 7   2023          0 non-null      float64
dtypes: float64(6), object(2)
memory usage: 16.8+ KB

None

Year,Country Name,Country Code,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,3.668678e+07,3.776950e+07,3.897223e+07,4.009946e+07,4.112877e+07,NaN
1,AfricaEasternandSouthern,AFE,6.497571e+08,6.672430e+08,6.851130e+08,7.029771e+08,7.208591e+08,NaN
2,AfricaWesternandCentral,AFW,4.426468e+08,4.543061e+08,4.661891e+08,4.781859e+08,4.903309e+08,NaN
3,Albania,ALB,2.866376e+06,2.854191e+06,2.837849e+06,2.811666e+06,2.777689e+06,NaN
4,Algeria,DZA,4.192701e+07,4.270537e+07,4.345167e+07,4.417797e+07,4.490322e+07,NaN
...,...,...,...,...,...,...,...,...
261,WestBankandGaza,PSE,4.569087e+06,4.685306e+06,4.803269e+06,4.922749e+06,5.043612e+06,NaN
262,World,WLD,7.660371e+09,7.741775e+09,7.820206e+09,7.888306e+09,7.950947e+09,NaN
263,YemenRep.,YEM,3.079051e+07,3.154669e+07,3.228405e+07,3.298164e+07,3.369661e+07,NaN
264,Zambia,ZMB,1.783589e+07,1.838048e+07,1.892772e+07,1.947312e+07,2.001768e+07,NaN
265,Zimbabwe,ZWE,1.505218e+07,1.535461e+07,1.566967e+07,1.599352e+07,1.632054e+07,NaN

### Nilai yang hilang

- Menghapus kolom dengan nilai yang hilang lebih dari 50%
- Mengatasi nilai yang hilang dengan bfiil dan ffill

In [71]:
def handle_missing_values(data_files, threshold=0.5):
    # Loop melalui setiap DataFrame
    for filename, df in data_files.items():
        # Menghitung jumlah baris dalam DataFrame
        total_rows = len(df)
        # Menghitung jumlah missing value dalam setiap kolom
        missing_values = df.isnull().sum()
        # Menghitung proporsi missing value dalam setiap kolom
        missing_values_ratio = missing_values / total_rows
        # Filter kolom yang memiliki proporsi missing value lebih dari threshold
        columns_to_drop = missing_values_ratio[missing_values_ratio > threshold].index
        # Menghapus kolom-kolom tersebut dari DataFrame
        df = df.drop(columns=columns_to_drop)
        
        # Mengatasi missing value dengan backward fill (bfill) dan forward fill (ffill)
        df = df.ffill().bfill()  # Menggunakan ffill() dan bfill() untuk mengatasi missing value
        
        # Menimpa DataFrame yang sudah dimodifikasi ke dalam data_files
        data_files[filename] = df

        # Menyimpan DataFrame yang dimodifikasi ke dalam folder datacleaning, menimpa versi sebelumnya
        df.to_csv(f"datacleaning/{filename}_clean.csv", index=False)
        
        # Menampilkan informasi tentang DataFrame setelah penanganan missing value
        print(f"\nDataFrame setelah penanganan missing value untuk file: {filename}")
        display(df.info())
        display(df)
        
        # Mengecek apakah DataFrame mengalami perubahan setelah penanganan missing value
        if df.equals(data_files[filename]):
            print(f"Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: {filename}")
        
    return data_files

# Gunakan fungsi handle_missing_values untuk menangani missing value pada DataFrame yang sudah di-preprocess
data_files_processed = handle_missing_values(data_files_processed)

DataFrame setelah penanganan missing value untuk file: electricity_access_percent.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1990            264 non-null    float64
 5   1991            264 non-null    float64
 6   1992            264 non-null    float64
 7   1993            264 non-null    float64
 8   1994            264 non-null    float64
 9   1995            264 non-null    float64
 10  1996            264 non-null    float64
 11  1997            264 non-null    float64
 12  1998            264 non-null    float64
 13  1999            264 non-null    float64
 14  2000            264 non-null    float64
 15  2001            264 non-null    float64
 16  2002            264 non-null    float64
 17  2003            264 non-null    float64
 18  2004            264 non-null    float64
 19  2005            264 non-null    float64
 20  2006            264 non-null    float64
 21  2007            264 non-null    float64
 22  2008            264 non-null    float64
 23  2009            264 non-null    float64
 24  2010            264 non-null    float64
 25  2011            264 non-null    float64
 26  2012            264 non-null    float64
 27  2013            264 non-null    float64
 28  2014            264 non-null    float64
 29  2015            264 non-null    float64
 30  2016            264 non-null    float64
dtypes: float64(27), object(4)
memory usage: 64.1+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,88.445351,88.780846,89.115829,89.447754,89.773560,90.090187,...,92.838821,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145
1,Afghanistan,AFG,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,33.748680,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138
2,Angola,AGO,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,11.397808,12.579379,13.760440,14.938441,16.110325,17.273031,...,37.500000,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607
3,Albania,ALB,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Andorra,AND,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,87.694695,88.333473,88.971748,89.606956,90.236053,90.855965,...,97.244034,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000
260,YemenRep.,YEM,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,36.009098,37.441071,44.100000,40.300938,41.723221,43.136330,...,59.042709,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349
261,SouthAfrica,ZAF,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,59.337940,60.575081,61.811710,63.045284,64.272736,65.491013,...,82.000000,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000
262,Zambia,ZMB,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,13.900000,14.115426,19.200000,15.287503,15.865894,16.435108,...,18.500000,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337
263,Zimbabwe,ZWE,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,30.357832,30.718805,28.200000,31.436678,28.100000,32.130077,...,35.184479,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138

Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: electricity_access_percent.csv

DataFrame setelah penanganan missing value untuk file: gdp_data.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 57 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1965            264 non-null    float64
 5   1966            264 non-null    float64
 6   1967            264 non-null    float64
 7   1968            264 non-null    float64
 8   1969            264 non-null    float64
 9   1970            264 non-null    float64
 10  1971            264 non-null    float64
 11  1972            264 non-null    float64
 12  1973            264 non-null    float64
 13  1974            264 non-null    float64
 14  1975            264 non-null    float64
 15  1976            264 non-null    float64
 16  1977            264 non-null    float64
 17  1978            264 non-null    float64
 18  1979            264 non-null    float64
 19  1980            264 non-null    float64
 20  1981            264 non-null    float64
 21  1982            264 non-null    float64
 22  1983            264 non-null    float64
 23  1984            264 non-null    float64
 24  1985            264 non-null    float64
 25  1986            264 non-null    float64
 26  1987            264 non-null    float64
 27  1988            264 non-null    float64
 28  1989            264 non-null    float64
 29  1990            264 non-null    float64
 30  1991            264 non-null    float64
 31  1992            264 non-null    float64
 32  1993            264 non-null    float64
 33  1994            264 non-null    float64
 34  1995            264 non-null    float64
 35  1996            264 non-null    float64
 36  1997            264 non-null    float64
 37  1998            264 non-null    float64
 38  1999            264 non-null    float64
 39  2000            264 non-null    float64
 40  2001            264 non-null    float64
 41  2002            264 non-null    float64
 42  2003            264 non-null    float64
 43  2004            264 non-null    float64
 44  2005            264 non-null    float64
 45  2006            264 non-null    float64
 46  2007            264 non-null    float64
 47  2008            264 non-null    float64
 48  2009            264 non-null    float64
 49  2010            264 non-null    float64
 50  2011            264 non-null    float64
 51  2012            264 non-null    float64
 52  2013            264 non-null    float64
 53  2014            264 non-null    float64
 54  2015            264 non-null    float64
 55  2016            264 non-null    float64
 56  2017            264 non-null    float64
dtypes: float64(53), object(4)
memory usage: 117.7+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1965,1966,1967,1968,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
1,Afghanistan,AFG,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
2,Angola,AGO,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,8.417804e+10,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11
3,Albania,ALB,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10
4,Andorra,AND,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,7.861921e+07,...,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP(currentUS$),NY.GDP.MKTP.CD,1.947843e+12,2.111600e+12,2.253592e+12,2.429626e+12,2.672200e+12,2.939712e+12,...,5.687488e+09,5.653793e+09,5.829934e+09,6.686683e+09,6.500193e+09,7.073420e+09,7.386891e+09,6.439947e+09,6.715487e+09,7.128691e+09
260,YemenRep.,YEM,GDP(currentUS$),NY.GDP.MKTP.CD,1.947843e+12,2.111600e+12,2.253592e+12,2.429626e+12,2.672200e+12,2.939712e+12,...,2.691085e+10,2.513027e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041524e+10,4.322858e+10,3.460248e+10,1.821333e+10,7.128691e+09
261,SouthAfrica,ZAF,GDP(currentUS$),NY.GDP.MKTP.CD,1.133417e+10,1.235475e+10,1.377712e+10,1.489430e+10,1.678006e+10,1.841803e+10,...,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11
262,Zambia,ZMB,GDP(currentUS$),NY.GDP.MKTP.CD,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,1.965714e+09,1.825286e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
263,Zimbabwe,ZWE,GDP(currentUS$),NY.GDP.MKTP.CD,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,1.747999e+09,1.884206e+09,...,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10

Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: gdp_data.csv

DataFrame setelah penanganan missing value untuk file: mystery.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 63 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      264 non-null    int64
 1   Country Name    264 non-null    object
 2   Country Code    264 non-null    object
 3   Indicator Name  264 non-null    object
 4   Indicator Code  264 non-null    object
 5   1960            264 non-null    float64
 6   1961            264 non-null    float64
 7   1962            264 non-null    float64
 8   1963            264 non-null    float64
 9   1964            264 non-null    float64
 10  1965            264 non-null    float64
 11  1966            264 non-null    float64
 12  1967            264 non-null    float64
 13  1968            264 non-null    float64
 14  1969            264 non-null    float64
 15  1970            264 non-null    float64
 16  1971            264 non-null    float64
 17  1972            264 non-null    float64
 18  1973            264 non-null    float64
 19  1974            264 non-null    float64
 20  1975            264 non-null    float64
 21  1976            264 non-null    float64
 22  1977            264 non-null    float64
 23  1978            264 non-null    float64
 24  1979            264 non-null    float64
 25  1980            264 non-null    float64
 26  1981            264 non-null    float64
 27  1982            264 non-null    float64
 28  1983            264 non-null    float64
 29  1984            264 non-null    float64
 30  1985            264 non-null    float64
 31  1986            264 non-null    float64
 32  1987            264 non-null    float64
 33  1988            264 non-null    float64
 34  1989            264 non-null    float64
 35  1990            264 non-null    float64
 36  1991            264 non-null    float64
 37  1992            264 non-null    float64
 38  1993            264 non-null    float64
 39  1994            264 non-null    float64
 40  1995            264 non-null    float64
 41  1996            264 non-null    float64
 42  1997            264 non-null    float64
 43  1998            264 non-null    float64
 44  1999            264 non-null    float64
 45  2000            264 non-null    float64
 46  2001            264 non-null    float64
 47  2002            264 non-null    float64
 48  2003            264 non-null    float64
 49  2004            264 non-null    float64
 50  2005            264 non-null    float64
 51  2006            264 non-null    float64
 52  2007            264 non-null    float64
 53  2008            264 non-null    float64
 54  2009            264 non-null    float64
 55  2010            264 non-null    float64
 56  2011            264 non-null    float64
 57  2012            264 non-null    float64
 58  2013            264 non-null    float64
 59  2014            264 non-null    float64
 60  2015            264 non-null    float64
 61  2016            264 non-null    float64
 62  2017            264 non-null    float64
dtypes: float64(58), int64(1), object(4)
memory usage: 130.1+ KB

None

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: mystery.csv

DataFrame setelah penanganan missing value untuk file: population_data.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            264 non-null    float64
 35  1991            264 non-null    float64
 36  1992            264 non-null    float64
 37  1993            264 non-null    float64
 38  1994            264 non-null    float64
 39  1995            264 non-null    float64
 40  1996            264 non-null    float64
 41  1997            264 non-null    float64
 42  1998            264 non-null    float64
 43  1999            264 non-null    float64
 44  2000            264 non-null    float64
 45  2001            264 non-null    float64
 46  2002            264 non-null    float64
 47  2003            264 non-null    float64
 48  2004            264 non-null    float64
 49  2005            264 non-null    float64
 50  2006            264 non-null    float64
 51  2007            264 non-null    float64
 52  2008            264 non-null    float64
 53  2009            264 non-null    float64
 54  2010            264 non-null    float64
 55  2011            264 non-null    float64
 56  2012            264 non-null    float64
 57  2013            264 non-null    float64
 58  2014            264 non-null    float64
 59  2015            264 non-null    float64
 60  2016            264 non-null    float64
 61  2017            264 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: population_data.csv

DataFrame setelah penanganan missing value untuk file: population_data.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            264 non-null    float64
 35  1991            264 non-null    float64
 36  1992            264 non-null    float64
 37  1993            264 non-null    float64
 38  1994            264 non-null    float64
 39  1995            264 non-null    float64
 40  1996            264 non-null    float64
 41  1997            264 non-null    float64
 42  1998            264 non-null    float64
 43  1999            264 non-null    float64
 44  2000            264 non-null    float64
 45  2001            264 non-null    float64
 46  2002            264 non-null    float64
 47  2003            264 non-null    float64
 48  2004            264 non-null    float64
 49  2005            264 non-null    float64
 50  2006            264 non-null    float64
 51  2007            264 non-null    float64
 52  2008            264 non-null    float64
 53  2009            264 non-null    float64
 54  2010            264 non-null    float64
 55  2011            264 non-null    float64
 56  2012            264 non-null    float64
 57  2013            264 non-null    float64
 58  2014            264 non-null    float64
 59  2015            264 non-null    float64
 60  2016            264 non-null    float64
 61  2017            264 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: population_data.json

DataFrame setelah penanganan missing value untuk file: population_data.xml
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15312 entries, 0 to 15311
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    15312 non-null  object
 1   Country Code    15312 non-null  object
 2   Indicator Name  15312 non-null  object
 3   Indicator Code  15312 non-null  object
 4   Year            15312 non-null  object
 5   Value           15312 non-null  object
dtypes: object(6)
memory usage: 717.9+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,1960,54211
1,Aruba,ABW,Populationtotal,SP.POP.TOTL,1961,55438
2,Aruba,ABW,Populationtotal,SP.POP.TOTL,1962,56225
3,Aruba,ABW,Populationtotal,SP.POP.TOTL,1963,56695
4,Aruba,ABW,Populationtotal,SP.POP.TOTL,1964,57032
...,...,...,...,...,...,...
15307,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2013,15054506
15308,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2014,15411675
15309,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2015,15777451
15310,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2016,16150362
15311,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2017,16529904

Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: population_data.xml

DataFrame setelah penanganan missing value untuk file: population_data.db
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 63 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           264 non-null    int64
 1   Country_Name    264 non-null    object
 2   Country_Code    264 non-null    object
 3   Indicator_Name  264 non-null    object
 4   Indicator_Code  264 non-null    object
 5   1960            264 non-null    float64
 6   1961            264 non-null    float64
 7   1962            264 non-null    float64
 8   1963            264 non-null    float64
 9   1964            264 non-null    float64
 10  1965            264 non-null    float64
 11  1966            264 non-null    float64
 12  1967            264 non-null    float64
 13  1968            264 non-null    float64
 14  1969            264 non-null    float64
 15  1970            264 non-null    float64
 16  1971            264 non-null    float64
 17  1972            264 non-null    float64
 18  1973            264 non-null    float64
 19  1974            264 non-null    float64
 20  1975            264 non-null    float64
 21  1976            264 non-null    float64
 22  1977            264 non-null    float64
 23  1978            264 non-null    float64
 24  1979            264 non-null    float64
 25  1980            264 non-null    float64
 26  1981            264 non-null    float64
 27  1982            264 non-null    float64
 28  1983            264 non-null    float64
 29  1984            264 non-null    float64
 30  1985            264 non-null    float64
 31  1986            264 non-null    float64
 32  1987            264 non-null    float64
 33  1988            264 non-null    float64
 34  1989            264 non-null    float64
 35  1990            264 non-null    float64
 36  1991            264 non-null    float64
 37  1992            264 non-null    float64
 38  1993            264 non-null    float64
 39  1994            264 non-null    float64
 40  1995            264 non-null    float64
 41  1996            264 non-null    float64
 42  1997            264 non-null    float64
 43  1998            264 non-null    float64
 44  1999            264 non-null    float64
 45  2000            264 non-null    float64
 46  2001            264 non-null    float64
 47  2002            264 non-null    float64
 48  2003            264 non-null    float64
 49  2004            264 non-null    float64
 50  2005            264 non-null    float64
 51  2006            264 non-null    float64
 52  2007            264 non-null    float64
 53  2008            264 non-null    float64
 54  2009            264 non-null    float64
 55  2010            264 non-null    float64
 56  2011            264 non-null    float64
 57  2012            264 non-null    float64
 58  2013            264 non-null    float64
 59  2014            264 non-null    float64
 60  2015            264 non-null    float64
 61  2016            264 non-null    float64
 62  2017            264 non-null    float64
dtypes: float64(58), int64(1), object(4)
memory usage: 130.1+ KB

None

,index,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: population_data.db

DataFrame setelah penanganan missing value untuk file: projects_data.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18248 entries, 0 to 18247
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18248 non-null  object
 1   regionname                18248 non-null  object
 2   countryname               18248 non-null  object
 3   prodline                  18248 non-null  object
 4   lendinginstr              18248 non-null  object
 5   lendinginstrtype          18248 non-null  object
 6   envassesmentcategorycode  18248 non-null  object
 7   supplementprojectflg      18248 non-null  object
 8   productlinetype           18248 non-null  object
 9   projectstatusdisplay      18248 non-null  object
 10  status                    18248 non-null  object
 11  project_name              18248 non-null  object
 12  boardapprovaldate         18248 non-null  int32
 13  board_approval_month      18248 non-null  object
 14  closingdate               18248 non-null  datetime64[ns, UTC]
 15  lendprojectcost           18248 non-null  int64
 16  ibrdcommamt               18248 non-null  int64
 17  idacommamt                18248 non-null  int64
 18  totalamt                  18248 non-null  int64
 19  grantamt                  18248 non-null  int64
 20  borrower                  18248 non-null  object
 21  impagency                 18248 non-null  object
 22  url                       18248 non-null  object
 23  sector1                   18248 non-null  object
 24  sector2                   18248 non-null  object
 25  sector                    18248 non-null  object
 26  mjsector                  18248 non-null  object
 27  theme1                    18248 non-null  object
 28  theme2                    18248 non-null  object
 29  goal                      18248 non-null  object
dtypes: datetime64[ns, UTC](1), int32(1), int64(5), object(23)
memory usage: 4.1+ MB

None

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,borrower,impagency,url,sector1,sector2,sector,mjsector,theme1,theme2,goal
0,P162228,Other,World,RE,InvestmentProjectFinancing,IN,C,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P162228?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
1,P163962,Africa,DemocraticRepublicoftheCongo,PE,InvestmentProjectFinancing,IN,B,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P163962?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
2,P167672,SouthAsia,People'sRepublicofBangladesh,PE,InvestmentProjectFinancing,IN,B,Y,L,Active,...,IIST,IIST,http://projects.worldbank.org/P167672?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
3,P158768,SouthAsia,IslamicRepublicofAfghanistan,PE,InvestmentProjectFinancing,IN,A,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P158768?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
4,P161364,Africa,FederalRepublicofNigeria,PE,InvestmentProjectFinancing,IN,B,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P161364?lang=en,SocialProtection!$!63!$!SA,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,LatinAmericaandCaribbean,RepublicofChile,PE,SpecificInvestmentLoan,IN,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P006578/power-ir...,(Historic)Hydro!$!100!$!PH,AgriculturalExtension;Research;andOtherSupport...,(Historic)Hydro;(Historic)Hydro,(Historic)ElectricPower&OtherEnergy;(Historic)...,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18244,P037451,EuropeandCentralAsia,GrandDuchyofLuxembourg,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037451/steel-mi...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18245,P037362,EuropeandCentralAsia,KingdomofDenmark,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037362/post-war...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18246,P037452,EuropeandCentralAsia,KingdomoftheNetherlands,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037452/post-war...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18247,P037383,EuropeandCentralAsia,FrenchRepublic,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037383/reconstr...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...

Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: projects_data.csv

DataFrame setelah penanganan missing value untuk file: rural_population_percent.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            264 non-null    float64
 35  1991            264 non-null    float64
 36  1992            264 non-null    float64
 37  1993            264 non-null    float64
 38  1994            264 non-null    float64
 39  1995            264 non-null    float64
 40  1996            264 non-null    float64
 41  1997            264 non-null    float64
 42  1998            264 non-null    float64
 43  1999            264 non-null    float64
 44  2000            264 non-null    float64
 45  2001            264 non-null    float64
 46  2002            264 non-null    float64
 47  2003            264 non-null    float64
 48  2004            264 non-null    float64
 49  2005            264 non-null    float64
 50  2006            264 non-null    float64
 51  2007            264 non-null    float64
 52  2008            264 non-null    float64
 53  2009            264 non-null    float64
 54  2010            264 non-null    float64
 55  2011            264 non-null    float64
 56  2012            264 non-null    float64
 57  2013            264 non-null    float64
 58  2014            264 non-null    float64
 59  2015            264 non-null    float64
 60  2016            264 non-null    float64
 61  2017            264 non-null    float64
dtypes: float64(58), object(4)
memory usage: 128.0+ KB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893
1,Afghanistan,AFG,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430
2,Angola,AGO,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422
3,Albania,ALB,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684
4,Andorra,AND,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,81.074,81.014,80.939,80.859,80.779,80.699,...,79.476,79.700,79.922,80.143,80.361,80.560,80.740,80.902,81.045,81.170
260,YemenRep.,YEM,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,90.900,90.541,90.169,89.784,89.386,88.974,...,69.398,68.835,68.268,67.698,67.126,66.550,65.973,65.394,64.813,64.231
261,SouthAfrica,ZAF,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.980,52.866,52.752,...,38.846,38.313,37.782,37.254,36.728,36.212,35.702,35.199,34.705,34.218
262,Zambia,ZMB,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,62.125,61.701,61.275,60.847,60.413,59.973,59.528,59.078,58.621,58.160
263,Zimbabwe,ZWE,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.380,...,66.440,66.622,66.804,66.985,67.166,67.346,67.499,67.624,67.723,67.793

Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: rural_population_percent.csv

DataFrame setelah penanganan missing value untuk file: API
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Country Code  266 non-null    object
 2   2018          266 non-null    float64
 3   2019          266 non-null    float64
 4   2020          266 non-null    float64
 5   2021          266 non-null    float64
 6   2022          266 non-null    float64
dtypes: float64(5), object(2)
memory usage: 14.7+ KB

None

Year,Country Name,Country Code,2018,2019,2020,2021,2022
0,Afghanistan,AFG,3.668678e+07,3.776950e+07,3.897223e+07,4.009946e+07,4.112877e+07
1,AfricaEasternandSouthern,AFE,6.497571e+08,6.672430e+08,6.851130e+08,7.029771e+08,7.208591e+08
2,AfricaWesternandCentral,AFW,4.426468e+08,4.543061e+08,4.661891e+08,4.781859e+08,4.903309e+08
3,Albania,ALB,2.866376e+06,2.854191e+06,2.837849e+06,2.811666e+06,2.777689e+06
4,Algeria,DZA,4.192701e+07,4.270537e+07,4.345167e+07,4.417797e+07,4.490322e+07
...,...,...,...,...,...,...,...
261,WestBankandGaza,PSE,4.569087e+06,4.685306e+06,4.803269e+06,4.922749e+06,5.043612e+06
262,World,WLD,7.660371e+09,7.741775e+09,7.820206e+09,7.888306e+09,7.950947e+09
263,YemenRep.,YEM,3.079051e+07,3.154669e+07,3.228405e+07,3.298164e+07,3.369661e+07
264,Zambia,ZMB,1.783589e+07,1.838048e+07,1.892772e+07,1.947312e+07,2.001768e+07
265,Zimbabwe,ZWE,1.505218e+07,1.535461e+07,1.566967e+07,1.599352e+07,1.632054e+07

Tidak ada perubahan yang terjadi setelah penanganan missing value untuk file: API

### Dummy Variabel

Penyelesaian termasuk dalam Pemeriksaan Data

In [72]:
def handle_dummy_variables(data_files):
    # Pemanggilan dummy variabel
    for filename, df in data_files.items():
        for column in df.select_dtypes(include=['object']).columns:
            dummy_variables = pd.get_dummies(df[column], prefix=column)
            df = pd.concat([df, dummy_variables], axis=1)

    # Menampilkan data sebelum dan sesudah penambahan variabel dummy
    for filename, df in data_files.items():
        print(f"\nData sebelum penambahan variabel dummy untuk {filename}:")
        display(df)  # Menampilkan data sebelum penambahan variabel dummy

        print(f"\nData setelah penambahan variabel dummy untuk {filename}:")
        display(df)  # Menampilkan data setelah penambahan variabel dummy

    return data_files

# Gunakan handle_dummy_variables untuk melakukan penyesuaian pada DataFrame
data_files_processed = handle_dummy_variables(data_files)

Data sebelum penambahan variabel dummy untuk electricity_access_percent.csv:

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,88.445351,88.780846,89.115829,89.447754,89.773560,90.090187,...,92.838821,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145
1,Afghanistan,AFG,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,33.748680,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138
2,Angola,AGO,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,11.397808,12.579379,13.760440,14.938441,16.110325,17.273031,...,37.500000,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607
3,Albania,ALB,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Andorra,AND,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,87.694695,88.333473,88.971748,89.606956,90.236053,90.855965,...,97.244034,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000
260,YemenRep.,YEM,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,36.009098,37.441071,44.100000,40.300938,41.723221,43.136330,...,59.042709,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349
261,SouthAfrica,ZAF,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,59.337940,60.575081,61.811710,63.045284,64.272736,65.491013,...,82.000000,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000
262,Zambia,ZMB,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,13.900000,14.115426,19.200000,15.287503,15.865894,16.435108,...,18.500000,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337
263,Zimbabwe,ZWE,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,30.357832,30.718805,28.200000,31.436678,28.100000,32.130077,...,35.184479,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138

Data setelah penambahan variabel dummy untuk electricity_access_percent.csv:

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,88.445351,88.780846,89.115829,89.447754,89.773560,90.090187,...,92.838821,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145
1,Afghanistan,AFG,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,33.748680,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138
2,Angola,AGO,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,11.397808,12.579379,13.760440,14.938441,16.110325,17.273031,...,37.500000,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607
3,Albania,ALB,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Andorra,AND,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,87.694695,88.333473,88.971748,89.606956,90.236053,90.855965,...,97.244034,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000
260,YemenRep.,YEM,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,36.009098,37.441071,44.100000,40.300938,41.723221,43.136330,...,59.042709,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349
261,SouthAfrica,ZAF,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,59.337940,60.575081,61.811710,63.045284,64.272736,65.491013,...,82.000000,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000
262,Zambia,ZMB,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,13.900000,14.115426,19.200000,15.287503,15.865894,16.435108,...,18.500000,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337
263,Zimbabwe,ZWE,Accesstoelectricity(%ofpopulation),EG.ELC.ACCS.ZS,30.357832,30.718805,28.200000,31.436678,28.100000,32.130077,...,35.184479,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138

Data sebelum penambahan variabel dummy untuk gdp_data.csv:

,Country Name,Country Code,Indicator Name,Indicator Code,1965,1966,1967,1968,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
1,Afghanistan,AFG,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
2,Angola,AGO,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,8.417804e+10,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11
3,Albania,ALB,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10
4,Andorra,AND,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,7.861921e+07,...,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP(currentUS$),NY.GDP.MKTP.CD,1.947843e+12,2.111600e+12,2.253592e+12,2.429626e+12,2.672200e+12,2.939712e+12,...,5.687488e+09,5.653793e+09,5.829934e+09,6.686683e+09,6.500193e+09,7.073420e+09,7.386891e+09,6.439947e+09,6.715487e+09,7.128691e+09
260,YemenRep.,YEM,GDP(currentUS$),NY.GDP.MKTP.CD,1.947843e+12,2.111600e+12,2.253592e+12,2.429626e+12,2.672200e+12,2.939712e+12,...,2.691085e+10,2.513027e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041524e+10,4.322858e+10,3.460248e+10,1.821333e+10,7.128691e+09
261,SouthAfrica,ZAF,GDP(currentUS$),NY.GDP.MKTP.CD,1.133417e+10,1.235475e+10,1.377712e+10,1.489430e+10,1.678006e+10,1.841803e+10,...,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11
262,Zambia,ZMB,GDP(currentUS$),NY.GDP.MKTP.CD,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,1.965714e+09,1.825286e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
263,Zimbabwe,ZWE,GDP(currentUS$),NY.GDP.MKTP.CD,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,1.747999e+09,1.884206e+09,...,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10

Data setelah penambahan variabel dummy untuk gdp_data.csv:

,Country Name,Country Code,Indicator Name,Indicator Code,1965,1966,1967,1968,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
1,Afghanistan,AFG,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
2,Angola,AGO,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,8.417804e+10,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11
3,Albania,ALB,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10
4,Andorra,AND,GDP(currentUS$),NY.GDP.MKTP.CD,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,7.861921e+07,...,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP(currentUS$),NY.GDP.MKTP.CD,1.947843e+12,2.111600e+12,2.253592e+12,2.429626e+12,2.672200e+12,2.939712e+12,...,5.687488e+09,5.653793e+09,5.829934e+09,6.686683e+09,6.500193e+09,7.073420e+09,7.386891e+09,6.439947e+09,6.715487e+09,7.128691e+09
260,YemenRep.,YEM,GDP(currentUS$),NY.GDP.MKTP.CD,1.947843e+12,2.111600e+12,2.253592e+12,2.429626e+12,2.672200e+12,2.939712e+12,...,2.691085e+10,2.513027e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041524e+10,4.322858e+10,3.460248e+10,1.821333e+10,7.128691e+09
261,SouthAfrica,ZAF,GDP(currentUS$),NY.GDP.MKTP.CD,1.133417e+10,1.235475e+10,1.377712e+10,1.489430e+10,1.678006e+10,1.841803e+10,...,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11
262,Zambia,ZMB,GDP(currentUS$),NY.GDP.MKTP.CD,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,1.965714e+09,1.825286e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
263,Zimbabwe,ZWE,GDP(currentUS$),NY.GDP.MKTP.CD,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,1.747999e+09,1.884206e+09,...,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10

Data sebelum penambahan variabel dummy untuk mystery.csv:

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Data setelah penambahan variabel dummy untuk mystery.csv:

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Data sebelum penambahan variabel dummy untuk population_data.csv:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Data setelah penambahan variabel dummy untuk population_data.csv:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Data sebelum penambahan variabel dummy untuk population_data.json:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Data setelah penambahan variabel dummy untuk population_data.json:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Data sebelum penambahan variabel dummy untuk population_data.xml:

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,1960,54211
1,Aruba,ABW,Populationtotal,SP.POP.TOTL,1961,55438
2,Aruba,ABW,Populationtotal,SP.POP.TOTL,1962,56225
3,Aruba,ABW,Populationtotal,SP.POP.TOTL,1963,56695
4,Aruba,ABW,Populationtotal,SP.POP.TOTL,1964,57032
...,...,...,...,...,...,...
15307,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2013,15054506
15308,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2014,15411675
15309,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2015,15777451
15310,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2016,16150362
15311,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2017,16529904

Data setelah penambahan variabel dummy untuk population_data.xml:

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Aruba,ABW,Populationtotal,SP.POP.TOTL,1960,54211
1,Aruba,ABW,Populationtotal,SP.POP.TOTL,1961,55438
2,Aruba,ABW,Populationtotal,SP.POP.TOTL,1962,56225
3,Aruba,ABW,Populationtotal,SP.POP.TOTL,1963,56695
4,Aruba,ABW,Populationtotal,SP.POP.TOTL,1964,57032
...,...,...,...,...,...,...
15307,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2013,15054506
15308,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2014,15411675
15309,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2015,15777451
15310,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2016,16150362
15311,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,2017,16529904

Data sebelum penambahan variabel dummy untuk population_data.db:

,index,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Data setelah penambahan variabel dummy untuk population_data.db:

,index,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,Populationtotal,SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,Populationtotal,SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,Populationtotal,SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,Populationtotal,SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,Populationtotal,SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,Populationtotal,SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,YemenRep.,YEM,Populationtotal,SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,SouthAfrica,ZAF,Populationtotal,SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,Populationtotal,SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,Populationtotal,SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

Data sebelum penambahan variabel dummy untuk projects_data.csv:

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,borrower,impagency,url,sector1,sector2,sector,mjsector,theme1,theme2,goal
0,P162228,Other,World,RE,InvestmentProjectFinancing,IN,C,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P162228?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
1,P163962,Africa,DemocraticRepublicoftheCongo,PE,InvestmentProjectFinancing,IN,B,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P163962?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
2,P167672,SouthAsia,People'sRepublicofBangladesh,PE,InvestmentProjectFinancing,IN,B,Y,L,Active,...,IIST,IIST,http://projects.worldbank.org/P167672?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
3,P158768,SouthAsia,IslamicRepublicofAfghanistan,PE,InvestmentProjectFinancing,IN,A,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P158768?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
4,P161364,Africa,FederalRepublicofNigeria,PE,InvestmentProjectFinancing,IN,B,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P161364?lang=en,SocialProtection!$!63!$!SA,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,LatinAmericaandCaribbean,RepublicofChile,PE,SpecificInvestmentLoan,IN,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P006578/power-ir...,(Historic)Hydro!$!100!$!PH,AgriculturalExtension;Research;andOtherSupport...,(Historic)Hydro;(Historic)Hydro,(Historic)ElectricPower&OtherEnergy;(Historic)...,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18244,P037451,EuropeandCentralAsia,GrandDuchyofLuxembourg,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037451/steel-mi...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18245,P037362,EuropeandCentralAsia,KingdomofDenmark,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037362/post-war...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18246,P037452,EuropeandCentralAsia,KingdomoftheNetherlands,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037452/post-war...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18247,P037383,EuropeandCentralAsia,FrenchRepublic,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037383/reconstr...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...

Data setelah penambahan variabel dummy untuk projects_data.csv:

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,borrower,impagency,url,sector1,sector2,sector,mjsector,theme1,theme2,goal
0,P162228,Other,World,RE,InvestmentProjectFinancing,IN,C,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P162228?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
1,P163962,Africa,DemocraticRepublicoftheCongo,PE,InvestmentProjectFinancing,IN,B,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P163962?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
2,P167672,SouthAsia,People'sRepublicofBangladesh,PE,InvestmentProjectFinancing,IN,B,Y,L,Active,...,IIST,IIST,http://projects.worldbank.org/P167672?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
3,P158768,SouthAsia,IslamicRepublicofAfghanistan,PE,InvestmentProjectFinancing,IN,A,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P158768?lang=en,!$!0,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
4,P161364,Africa,FederalRepublicofNigeria,PE,InvestmentProjectFinancing,IN,B,N,L,Active,...,IIST,IIST,http://projects.worldbank.org/P161364?lang=en,SocialProtection!$!63!$!SA,OtherIndustry;TradeandServices!$!25!$!YZ,SocialProtection;SocialProtection;OtherIndustr...,SocialProtection;SocialProtection;Industry;Tra...,!$!0,Climatechange!$!10!$!81,CorporateAdvocacyPriorities;CorporateAdvocacyP...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,LatinAmericaandCaribbean,RepublicofChile,PE,SpecificInvestmentLoan,IN,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P006578/power-ir...,(Historic)Hydro!$!100!$!PH,AgriculturalExtension;Research;andOtherSupport...,(Historic)Hydro;(Historic)Hydro,(Historic)ElectricPower&OtherEnergy;(Historic)...,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18244,P037451,EuropeandCentralAsia,GrandDuchyofLuxembourg,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037451/steel-mi...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18245,P037362,EuropeandCentralAsia,KingdomofDenmark,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037362/post-war...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18246,P037452,EuropeandCentralAsia,KingdomoftheNetherlands,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037452/post-war...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...
18247,P037383,EuropeandCentralAsia,FrenchRepublic,PE,StructuralAdjustmentLoan,AD,C,N,L,Closed,...,REPUBLICOFPOLAND,RCPGIPMENT,http://projects.worldbank.org/P037383/reconstr...,(Historic)Economicmanagement!$!100!$!ME,AgriculturalExtension;Research;andOtherSupport...,(Historic)Economicmanagement;(Historic)Economi...,(Historic)Multisector;(Historic)Multisector,!$!0,Regulationandcompetitionpolicy!$!40!$!40,CorporateAdvocacyPriorities;CorporateAdvocacyP...

Data sebelum penambahan variabel dummy untuk rural_population_percent.csv:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893
1,Afghanistan,AFG,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430
2,Angola,AGO,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422
3,Albania,ALB,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684
4,Andorra,AND,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,81.074,81.014,80.939,80.859,80.779,80.699,...,79.476,79.700,79.922,80.143,80.361,80.560,80.740,80.902,81.045,81.170
260,YemenRep.,YEM,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,90.900,90.541,90.169,89.784,89.386,88.974,...,69.398,68.835,68.268,67.698,67.126,66.550,65.973,65.394,64.813,64.231
261,SouthAfrica,ZAF,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.980,52.866,52.752,...,38.846,38.313,37.782,37.254,36.728,36.212,35.702,35.199,34.705,34.218
262,Zambia,ZMB,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,62.125,61.701,61.275,60.847,60.413,59.973,59.528,59.078,58.621,58.160
263,Zimbabwe,ZWE,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.380,...,66.440,66.622,66.804,66.985,67.166,67.346,67.499,67.624,67.723,67.793

Data setelah penambahan variabel dummy untuk rural_population_percent.csv:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893
1,Afghanistan,AFG,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430
2,Angola,AGO,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422
3,Albania,ALB,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684
4,Andorra,AND,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,81.074,81.014,80.939,80.859,80.779,80.699,...,79.476,79.700,79.922,80.143,80.361,80.560,80.740,80.902,81.045,81.170
260,YemenRep.,YEM,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,90.900,90.541,90.169,89.784,89.386,88.974,...,69.398,68.835,68.268,67.698,67.126,66.550,65.973,65.394,64.813,64.231
261,SouthAfrica,ZAF,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.980,52.866,52.752,...,38.846,38.313,37.782,37.254,36.728,36.212,35.702,35.199,34.705,34.218
262,Zambia,ZMB,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,62.125,61.701,61.275,60.847,60.413,59.973,59.528,59.078,58.621,58.160
263,Zimbabwe,ZWE,Ruralpopulation(%oftotalpopulation),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.380,...,66.440,66.622,66.804,66.985,67.166,67.346,67.499,67.624,67.723,67.793

Data sebelum penambahan variabel dummy untuk API:

Year,Country Name,Country Code,2018,2019,2020,2021,2022
0,Afghanistan,AFG,3.668678e+07,3.776950e+07,3.897223e+07,4.009946e+07,4.112877e+07
1,AfricaEasternandSouthern,AFE,6.497571e+08,6.672430e+08,6.851130e+08,7.029771e+08,7.208591e+08
2,AfricaWesternandCentral,AFW,4.426468e+08,4.543061e+08,4.661891e+08,4.781859e+08,4.903309e+08
3,Albania,ALB,2.866376e+06,2.854191e+06,2.837849e+06,2.811666e+06,2.777689e+06
4,Algeria,DZA,4.192701e+07,4.270537e+07,4.345167e+07,4.417797e+07,4.490322e+07
...,...,...,...,...,...,...,...
261,WestBankandGaza,PSE,4.569087e+06,4.685306e+06,4.803269e+06,4.922749e+06,5.043612e+06
262,World,WLD,7.660371e+09,7.741775e+09,7.820206e+09,7.888306e+09,7.950947e+09
263,YemenRep.,YEM,3.079051e+07,3.154669e+07,3.228405e+07,3.298164e+07,3.369661e+07
264,Zambia,ZMB,1.783589e+07,1.838048e+07,1.892772e+07,1.947312e+07,2.001768e+07
265,Zimbabwe,ZWE,1.505218e+07,1.535461e+07,1.566967e+07,1.599352e+07,1.632054e+07

Data setelah penambahan variabel dummy untuk API:

Year,Country Name,Country Code,2018,2019,2020,2021,2022
0,Afghanistan,AFG,3.668678e+07,3.776950e+07,3.897223e+07,4.009946e+07,4.112877e+07
1,AfricaEasternandSouthern,AFE,6.497571e+08,6.672430e+08,6.851130e+08,7.029771e+08,7.208591e+08
2,AfricaWesternandCentral,AFW,4.426468e+08,4.543061e+08,4.661891e+08,4.781859e+08,4.903309e+08
3,Albania,ALB,2.866376e+06,2.854191e+06,2.837849e+06,2.811666e+06,2.777689e+06
4,Algeria,DZA,4.192701e+07,4.270537e+07,4.345167e+07,4.417797e+07,4.490322e+07
...,...,...,...,...,...,...,...
261,WestBankandGaza,PSE,4.569087e+06,4.685306e+06,4.803269e+06,4.922749e+06,5.043612e+06
262,World,WLD,7.660371e+09,7.741775e+09,7.820206e+09,7.888306e+09,7.950947e+09
263,YemenRep.,YEM,3.079051e+07,3.154669e+07,3.228405e+07,3.298164e+07,3.369661e+07
264,Zambia,ZMB,1.783589e+07,1.838048e+07,1.892772e+07,1.947312e+07,2.001768e+07
265,Zimbabwe,ZWE,1.505218e+07,1.535461e+07,1.566967e+07,1.599352e+07,1.632054e+07

# LOAD

# VISUALIZATION